Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

support customized init
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
  srcs/python/kungfu/tensorflow/ops/state.py
  tests/python/unit/test_op.py
Due: python format test, clang format test, clang tidy

add an example for step_based_schedule
  scripts/tests/run-fake-trainer.sh
  scripts/tests/run-nccl-train-test.sh
  scripts/tests/run-op-tests.sh
  scripts/tests/run-optimizer-tests.sh
  scripts/tests/run-python-tests.sh
  scripts/tests/run-train-tests.sh
  srcs/go/kungfu/kungfu.go
  tests/python/integration/fake_tf_trainer.py
  tests/python/integration/resnet50.py
  tests/python/integration/test_dataset_adaptor.py
  tests/python/integration/test_init.py
  tests/python/integration/test_mnist_slp.py
  tests/python/integration/test_operators.py
  tests/python/integration/test_optimizers.py
  tests/python/integration/test_optimizers_tf2.py
  tests/python/integration/test_python_apis.py
  tests/python/integration/test_save_variables.py
  tests/python/integration/test_step_based_schedule.py
Due: go format test

fix example
  tests/python/integration/test_step_based_schedule.py
Due: none

run test
  .github/workflows/ci.yaml
Due: none

fix PATH
  .github/workflows/ci.yaml
Due: none

env
  .github/workflows/ci.yaml
Due: none

fix
  .github/workflows/ci.yaml
Due: none

fix log dir
  srcs/go/kungfurun/watch.go
  srcs/go/runner/local/local.go
  tests/python/integration/test_step_based_schedule.py
Due: go format test

update ResizeCluster
  benchmarks/adaptation/adaptive_trainer.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/watch.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_step_based_schedule.py
Due: go format test, python format test, clang format test, clang tidy

sync_op
  tests/python/integration/test_step_based_schedule.py
Due: none

only let the root node to do global monitoring.
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/optimizers/grad_variance.py
Due: python format test

fix test
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: none

ElasticSyncSGDOptimizer
  .github/workflows/ci.yaml
  srcs/python/kungfu/tensorflow/optimizers/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/elastic.py
  tests/python/integration/test_elastic_optimizer.py
Due: python format test

-H
  .github/workflows/ci.yaml
Due: none

WIP: fixing
  README.md
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/optimizers/grad_variance.py
Due: python format test

Fix bug
  srcs/python/kungfu/tensorflow/optimizers/grad_variance.py
Due: python format test

add fake bert model
  tests/go/fakemodel/bert.go
  tests/go/fakemodel/fakemodel.go
Due: none

add fake bert model to c++ benchmark
  tests/cpp/integration/bert.hpp
  tests/cpp/integration/fake_model.hpp
Due: none

remove global step from variable list
  tests/cpp/integration/bert.hpp
  tests/go/fakemodel/bert.go
Due: none

reimplement watch (fix #165)
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/watch.go
  srcs/go/runner/local/local.go
Due: go format test

add fake bert model to benchmark (#219)
  tests/cpp/integration/bert.hpp
  tests/cpp/integration/fake_model.hpp
  tests/go/fakemodel/bert.go
  tests/go/fakemodel/fakemodel.go
Due: none

fix multi-machine
  benchmarks/adaptation/Dockerfile
  benchmarks/adaptation/bench-adaptation.sh
  benchmarks/adaptation/build-image.sh
  benchmarks/adaptation/gen-compose.py
  srcs/go/kungfurun/watch.go
Due: go format test

trap crtl+C
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfurun/watch.go
Due: go format test

cleanup
  srcs/cpp/src/tensorflow/ops/cpu/elastic.cpp
Due: clang format test, clang tidy

add new kungfu optimizer
  srcs/python/kungfu/tensorflow/optimizers/ssgd_sma.py
Due: python format test

add optimizer to init
  srcs/python/kungfu/tensorflow/optimizers/__init__.py
Due: python format test

add missing self
  srcs/python/kungfu/tensorflow/optimizers/ssgd_sma.py
Due: python format test

use lambda in tf.conf
  srcs/python/kungfu/tensorflow/optimizers/ssgd_sma.py
Due: python format test

Working adaptive SGD.
  examples/tf1_mnist_session.py
  srcs/python/kungfu/tensorflow/optimizers/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
  srcs/python/kungfu/tensorflow/optimizers/ssgd_sma.py
Due: python format test

rebroadcast variables when switching from SMA to SSGD.
  examples/tf1_mnist_session.py
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
Due: python format test

fix format check,
  srcs/python/kungfu/tensorflow/optimizers/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
Due: python format test

let everybody print monitoring data.
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
Due: python format test

Fix monitoring optimiser issues. (#222)
  README.md
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/optimizers/grad_variance.py
Due: python format test

add debug options
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
  srcs/python/kungfu/tensorflow/ops/state.py
Due: python format test, clang format test, clang tidy

SetShapeFn
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
Due: clang format test, clang tidy

.Attr("incr: int = 1")
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/python/kungfu/tensorflow/ops/state.py
Due: python format test, clang format test, clang tidy

myreadme
  nadeen_readme
Due: none

basic ops update
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: python format test, clang format test, clang tidy

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
