Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

added FPGAAllReduce
  srcs/cpp/src/kungfu.cpp
Due: clang format test, clang tidy

included fpga allreduce modifications
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test, clang format test, clang tidy

make it more clear how to use kungfurun on multiple nodes.
  README.md
Due: none

FPGAAllReduce funcs added in go, error building
  srcs/cpp/src/kungfu.cpp
  srcs/go/kungfu/session.go
  srcs/go/libkungfu-comm/collective.go
Due: go format test, clang format test, clang tidy

removed callback since shouldnt be there
  srcs/go/libkungfu-comm/collective.go
Due: go format test

fixed?
  srcs/cpp/src/kungfu.cpp
  srcs/go/libkungfu-comm/collective.go
Due: go format test, clang format test, clang tidy

errors
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

don't use input_tensor_name in CPU all_reduce
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test, clang format test, clang tidy

don't use input_tensor_name in CPU all_reduce (#226)
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test, clang format test, clang tidy

Add a placeholder for in-network allreduce.
  CMakeLists.txt
  cmake/fpga.cmake
  srcs/cpp/src/tensorflow/ops/fpga/collective.cpp
  srcs/python/kungfu/tensorflow/ops/fpga_collective.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd_fpga.py
  tests/python/integration/test_fpga_optimizer.py
Due: python format test, clang format test, clang tidy

fix
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd_fpga.py
Due: python format test

fix format
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd_fpga.py
Due: python format test

update log
  docs/serve.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/runner/local/local.go
Due: go format test

update log (#227)
  docs/serve.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/runner/local/local.go
Due: go format test

init consensus check operator
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/consensus.cpp
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/session.go
  srcs/go/kungfubase/vector.go
  srcs/go/libkungfu-comm/collective.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/python/integration/test_operators.py
Due: go format test, python format test, clang format test, clang tidy

fix
  srcs/cpp/src/kungfu.cpp
Due: clang format test, clang tidy

fix
  srcs/cpp/src/tensorflow/ops/cpu/consensus.cpp
Due: clang format test, clang tidy

async
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/consensus.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
Due: go format test, clang format test, clang tidy

add debug options (#228)
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
  srcs/python/kungfu/tensorflow/ops/state.py
Due: python format test, clang format test, clang tidy

fix reinit bug by using a hook
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
Due: python format test

rename util packages
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/kungfurun/simple.go
  srcs/go/kungfurun/watch.go
  srcs/go/utils/iostream/iostream.go
  srcs/go/utils/iostream/lazyfile.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/ssh/ssh.go
  srcs/go/utils/xterm/color.go
Due: go format test

use _tf_hook
  srcs/python/kungfu/tensorflow/optimizers/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
Due: python format test

output: bool
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

assert
  tests/python/integration/test_operators.py
Due: none

fix test
  tests/python/integration/test_operators.py
Due: none

sort import
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/kungfurun/simple.go
  srcs/go/kungfurun/watch.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

consensus operator (#229)
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/session.go
  srcs/go/kungfubase/vector.go
  srcs/go/libkungfu-comm/collective.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/python/integration/test_operators.py
Due: go format test, python format test, clang format test, clang tidy

rename util packages (#230)
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/kungfurun/simple.go
  srcs/go/kungfurun/watch.go
  srcs/go/utils/iostream/iostream.go
  srcs/go/utils/iostream/lazyfile.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/ssh/ssh.go
  srcs/go/utils/xterm/color.go
Due: go format test

show_nccl_version
  CMakeLists.txt
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/cpp/include/kungfu/utils/error_checker.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/info/__init__.py
  srcs/python/kungfu/info/__main__.py
Due: python format test, clang format test, clang tidy

show_cuda_version
  .github/workflows/ci.yaml
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/info/__main__.py
  srcs/python/kungfu/loader.py
Due: python format test, clang format test, clang tidy

NCCL benchmark
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

ignore cudaErrorCudartUnloading
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
Due: clang format test, clang tidy

remove duplicated file
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
  tests/cpp/integration/collective_mpi_impl.hpp
  tests/cpp/integration/collective_nccl_impl.hpp
  tests/cpp/integration/cuda_helper.hpp
  tests/cpp/integration/cuda_vector.hpp
  tests/cpp/integration/error_checker.hpp
  tests/cpp/integration/fake_nccl_trainer.cpp
Due: python format test

NCCL benchmark (#231)
  .github/workflows/ci.yaml
  CMakeLists.txt
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/cpp/include/kungfu/utils/error_checker.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/info/__init__.py
  srcs/python/kungfu/info/__main__.py
  srcs/python/kungfu/loader.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
  tests/cpp/integration/collective_mpi_impl.hpp
  tests/cpp/integration/collective_nccl_impl.hpp
  tests/cpp/integration/cuda_helper.hpp
  tests/cpp/integration/cuda_vector.hpp
  tests/cpp/integration/error_checker.hpp
  tests/cpp/integration/fake_nccl_trainer.cpp
Due: python format test, clang format test, clang tidy

add horovod to perf benchmark
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

--model
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/model_sizes.py
Due: python format test

config
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

make path absolut
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
Due: python format test

clean code
  srcs/python/kungfu/tensorflow/initializer/keras.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
Due: python format test

cleanup include
  CMakeLists.txt
  cmake/Findstdtracer.cmake
  cmake/tests.cmake
  configure
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/trace.cpp
  tests/cpp/integration/fake_mpi_trainer.cpp
  tests/cpp/integration/fake_trainer.hpp
  tests/cpp/integration/testing.hpp
Due: clang format test, clang tidy
