Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

all print log
  benchmarks/system/benchmark_kungfu_elastic.py
Due: none

only sync once
  benchmarks/system/benchmark_kungfu_elastic.py
Due: none

Update buildinfo.go
  srcs/go/utils/buildinfo.go
Due: go format test

elastic benchmark for imagenet (#261)
  benchmarks/system/benchmark_kungfu_elastic.py
  srcs/go/utils/buildinfo.go
  srcs/go/utils/utils.go
  tests/go/cmd/kungfu-test-util/kungfu-test-util.go
Due: go format test

add log to file in elastic
  benchmarks/system/benchmark_kungfu_elastic.py
Due: none

add missing flag to elastic
  benchmarks/system/benchmark_kungfu_elastic.py
Due: none

move most imports to the beginning
  benchmarks/system/benchmark_kungfu_elastic.py
Due: none

InstallStallDetector
  srcs/go/libkungfu-comm/main.go
Due: go format test

InstallStallDetector (#262)
  srcs/go/libkungfu-comm/main.go
Due: go format test

fix path bug
  benchmarks/system/benchmark_kungfu_elastic.py
Due: none

Added async-sgd(pair averaging) functionality in custom optimizer.
  experimental/net_monitoring/CustomAdaSGD.py
Due: none

integrated change trigger for sync alg in CustomAdaSGD optm
  experimental/net_monitoring/CustomAdaSGD.py
Due: none

adopted NetMonHook for changing between the three sync algos
  experimental/net_monitoring/NetMonHook.py
Due: none

rchannel.Client
  srcs/go/kungfu/monitoring.go
  srcs/go/plan/graph.go
  srcs/go/rchannel/client.go
  srcs/go/rchannel/connection.go
Due: go format test

move connection to a separate package
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/session.go
  srcs/go/kungfurun/handler.go
  srcs/go/rchannel/buffer_pool.go
  srcs/go/rchannel/client.go
  srcs/go/rchannel/collective.go
  srcs/go/rchannel/connection/byte_slice_pool.go
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/connection/message.go
  srcs/go/rchannel/connection/message_test.go
  srcs/go/rchannel/connection_pool.go
  srcs/go/rchannel/handler.go
  srcs/go/rchannel/p2p.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/server.go
  srcs/go/rchannel/testing.go
  tests/go/cmd/kungfu-test-util/kungfu-test-util.go
Due: go format test

use PeerID instead of NetAddr in public APIs
  srcs/go/plan/addr.go
  srcs/go/rchannel/client.go
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/connection/message_test.go
  srcs/go/rchannel/connection_pool.go
  srcs/go/rchannel/router.go
Due: go format test

move client to a separate package
  srcs/go/kungfu/monitoring.go
  srcs/go/kungfurun/handler.go
  srcs/go/rchannel/client.go
  srcs/go/rchannel/client/client.go
  srcs/go/rchannel/client/connection_pool.go
  srcs/go/rchannel/collective.go
  srcs/go/rchannel/connection/message.go
  srcs/go/rchannel/p2p.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/testing.go
Due: go format test

move handler to a separate package
  srcs/go/kungfurun/handler.go
  srcs/go/rchannel/handler/buffer_pool.go
  srcs/go/rchannel/handler/collective.go
  srcs/go/rchannel/handler/handler.go
  srcs/go/rchannel/handler/p2p.go
  srcs/go/rchannel/handler/testing.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/server.go
Due: go format test

move server to a separate package
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/watch.go
  srcs/go/rchannel/handler/ping.go
  srcs/go/rchannel/server/server.go
Due: go format test

update doc
  CONTRIBUTING.md
Due: none

use Client instead of Router
  tests/go/cmd/kungfu-test-util/kungfu-test-util.go
Due: none

move session to a separate package
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/session/monitoring.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/kungfu/session/workspace.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/utils/errors.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-fake-go-trainer/kungfu-fake-go-trainer.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

rename Kungfu to Peer
  srcs/go/kungfu/peer/legacy.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  tests/go/cmd/kungfu-bad-worker/kungfu-bad-worker.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-fake-go-trainer/kungfu-fake-go-trainer.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

execution.{Par|Seq}
  srcs/go/kungfu/execution/execution.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/session.go
  srcs/go/plan/peerlist.go
Due: go format test

rename kungfubase to kungfu/base
  .gitignore
  srcs/go/job/job.go
  srcs/go/kungfu/base/dtype.c
  srcs/go/kungfu/base/dtype.go
  srcs/go/kungfu/base/envs.go
  srcs/go/kungfu/base/f16.c
  srcs/go/kungfu/base/f16.h
  srcs/go/kungfu/base/kungfu
  srcs/go/kungfu/base/op.cpp
  srcs/go/kungfu/base/op.go
  srcs/go/kungfu/base/strategy.go
  srcs/go/kungfu/base/vector.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/kungfu/session/workspace.go
  srcs/go/kungfubase/kungfu
  srcs/go/kungfurun/flags.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/libkungfu-comm/ordergroup.go
  srcs/go/plan/config.go
  srcs/go/plan/hostspec.go
  srcs/go/plan/id.go
  srcs/go/plan/peerlist.go
  srcs/go/rchannel/handler/p2p.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-fake-go-trainer/kungfu-fake-go-trainer.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
  tests/go/fakemodel/fakemodel.go
Due: go format test, clang format test, clang tidy

rename kungfuconfig to kungfu/config
  srcs/go/job/job.go
  srcs/go/kungfu/config/config.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/workspace.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/log/logger.go
  srcs/go/monitor/counters_test.go
  srcs/go/monitor/monitor.go
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/server/server.go
Due: go format test

sort import
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-fake-go-trainer/kungfu-fake-go-trainer.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

move router to peer package
  srcs/go/kungfu/peer/legacy.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/session/session.go
Due: go format test

rename kungfurun -> kungfu/runner
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/discovery.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/flags_test.go
  srcs/go/kungfu/runner/handler.go
  srcs/go/kungfu/runner/peerspec.go
  srcs/go/kungfu/runner/peerspec_test.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/kungfu/runner/watch.go
  tests/go/cmd/kungfu-config-client-example/kungfu-config-client-example.go
Due: go format test

extract godoc
  docs/extract-go-doc.sh
  docs/extract.go
Due: none

execution.PeerFunc
  srcs/go/kungfu/execution/execution.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/session.go
Due: go format test

rename MessageHeader::ReadFromLike -> MessageHeader::Expect
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/connection/message.go
Due: go format test

Fix
  CONTRIBUTING.md
Due: none

minor changes whilst debugging addition of a-sgd
  experimental/net_monitoring/CustomAdaSGD.py
  experimental/net_monitoring/NetMonHook.py
Due: none

use connection.Connection instead of net.Conn
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/runner/handler.go
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/connection/message.go
  srcs/go/rchannel/connection/message_test.go
  srcs/go/rchannel/handler/collective.go
  srcs/go/rchannel/handler/control.go
  srcs/go/rchannel/handler/handler.go
  srcs/go/rchannel/handler/p2p.go
  srcs/go/rchannel/handler/ping.go
  srcs/go/rchannel/handler/testing.go
  srcs/go/rchannel/server/server.go
Due: go format test

changed training script
  examples/tf1_training_monitoring.py
Due: none

minor debug commit
  examples/tf1_training_monitoring.py
Due: none

added save_model_op in ssgd
  experimental/net_monitoring/CustomAdaSGD.py
Due: none

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
