Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

minor fixed after refac
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

changed appl throughput monitoring rate
  experimental/adapt_strategy/adapt_strategy.py
Due: none

minor logging change
  experimental/adapt_strategy/adapt_strategy.py
Due: none

wip
  experimental/adapt_strategy/adapt_strategy.py
Due: none

retry
  srcs/go/utils/iostream/stdio.go
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
Due: go format test

fix
  srcs/go/nccl/bug.go
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: go format test

fix typo
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: none

simplify
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
Due: go format test

LD bug workaround (#285)
  srcs/go/nccl/bug.go
  srcs/go/utils/iostream/stdio.go
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: go format test

kungfu-run-experiments (wip)
  experiments/cmd/kungfu-run-experiments/cluster.go
  experiments/cmd/kungfu-run-experiments/kungfu-run-experiments.go
  experiments/tfkeras/tf-keras.go
  srcs/go/job/job.go
  srcs/go/plan/hostfile/hostfile.go
  srcs/go/plan/hostfile/hostfile_test.go
  srcs/go/utils/ssh/ssh.go
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: go format test, python format test

cleanup
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/job/job.go
  srcs/go/job/proc.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/ssh/ssh.go
Due: go format test

cleanup (#286)
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/job/job.go
  srcs/go/job/proc.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/ssh/ssh.go
Due: go format test

wip
  experiments/cmd/kungfu-run-experiments/kungfu-run-experiments.go
  experiments/tfkeras/tf-keras.go
  srcs/go/job/job.go
  srcs/go/kungfu/runtime/params.go
  srcs/go/plan/hostspec.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

resolve
  srcs/go/utils/runner/remote/remote.go
Due: go format test

wip
  experiments/cmd/kungfu-run-experiments/cluster.go
  experiments/cmd/kungfu-run-experiments/kungfu-run-experiments.go
  srcs/go/plan/hostspec.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

logging
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/cmd/kungfu-run-train-experiments/cluster.go
  experiments/cmd/kungfu-run-train-experiments/kungfu-run-train-experiments.go
  srcs/go/plan/hostspec.go
Due: go format test

wip
  benchmarks/scaling/benchmark_kungfu_scaling.py
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  srcs/go/job/proc.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

wip
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
Due: none

wip
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
Due: none

logging
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
Due: none

logging
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/job.go
  srcs/go/kungfu/env/envs.go
  srcs/python/kungfu/_utils.py
Due: go format test, python format test

log
  benchmarks/scaling/benchmark_kungfu_scaling.py
  experiments/elastic/elastic.go
  experiments/tfkeras/tf-keras.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

jobid
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
Due: none

run config server
  benchmarks/scaling/benchmark_kungfu_scaling.py
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/elastic/elastic.go
  srcs/go/utils/runner/remote/remote.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: go format test

set config
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  srcs/go/plan/hostspec.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/configserver/client.go
Due: go format test

ResizeProfiler
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

log
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

log
  benchmarks/scaling/benchmark_kungfu_scaling.py
Due: none

fix
  benchmarks/scaling/benchmark_kungfu_scaling.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

fix log
  srcs/go/kungfu/runner/watch.go
Due: go format test

fix
  benchmarks/scaling/benchmark_kungfu_scaling.py
Due: none

update log
  benchmarks/scaling/debug_hooks.py
Due: none

ProfileResizeHook
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
Due: none

parse_scheule
  benchmarks/scaling/benchmark_kungfu_scaling.py
Due: none

debug
  benchmarks/scaling/debug_hooks.py
Due: none

wip
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/elastic/elastic.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

debug
  benchmarks/scaling/debug_hooks.py
  benchmarks/scaling/generate-schedule.py
Due: none

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
