Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

elastic example.
  benchmarks/system/benchmark_kungfu_tf2.py
  examples/tf1_mnist_elastic_sgd.py
  examples/tf2_mnist_gradient_tape.py
Due: none

pass CI.
  srcs/python/kungfu/tensorflow/ops/__init__.py
Due: python format test

WIP: test CI.
  benchmarks/adaptation/adaptive_trainer.py
  examples/keras_mnist.py
  examples/tf1_mnist_elastic_sgd.py
  examples/tf1_mnist_elastic_training.py
  examples/tf2_mnist_gradient_tape.py
  examples/tf2_mnist_keras.py
  examples/tf2_mnist_keras_dataset.py
  scripts/clean-code.sh
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  srcs/python/kungfu/tensorflow/optimizers/elastic.py
  tests/python/integration/test_elastic_optimizer.py
  tests/python/integration/test_step_based_schedule.py
Due: python format test

pass CI
  scripts/clean-code.sh
  srcs/python/kungfu/tensorflow/ops/__init__.py
Due: python format test

WIP
  examples/tf1_mnist_elastic_training.py
Due: none

fix example
  examples/tf1_mnist_elastic_training.py
Due: none

fix indent
  examples/tf1_mnist_elastic_training.py
Due: none

fix import
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: python format test

strategyList::choose
  srcs/go/kungfu/session.go
  srcs/go/kungfu/strategy.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/xterm/color.go
Due: go format test

nameBasedHash
  srcs/go/kungfu/session.go
  srcs/go/kungfu/workspace.go
  srcs/go/kungfuconfig/config.go
Due: go format test

use uint64 as hash value
  srcs/go/kungfu/session.go
  srcs/go/kungfu/workspace.go
Due: go format test

MULTI_BINARY_TREE_STAR
  scripts/tests/run-integration-tests.sh
  srcs/cpp/include/kungfu/strategy.h
  srcs/go/kungfu/strategy.go
  srcs/go/kungfubase/strategy.go
  srcs/go/plan/topology.go
  srcs/go/plan/topology_test.go
Due: go format test, clang format test, clang tidy

address review comments
  srcs/go/kungfu/session.go
  srcs/go/kungfu/workspace.go
  srcs/go/kungfuconfig/config.go
Due: go format test

log warmup
  benchmarks/system/benchmark_kungfu.py
Due: none

update log
  srcs/go/rchannel/connection_pool.go
Due: go format test

lazy init connection
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/connection_pool.go
Due: go format test

simplify
  srcs/go/kungfu/monitoring.go
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/connection_pool.go
  srcs/go/rchannel/router.go
Due: go format test

Use multiple communication strategies to fully utilise the network. (#242)
  benchmarks/system/benchmark_kungfu.py
  scripts/tests/run-integration-tests.sh
  srcs/cpp/include/kungfu/strategy.h
  srcs/go/kungfu/monitoring.go
  srcs/go/kungfu/session.go
  srcs/go/kungfu/strategy.go
  srcs/go/kungfu/workspace.go
  srcs/go/kungfubase/strategy.go
  srcs/go/kungfuconfig/config.go
  srcs/go/plan/topology.go
  srcs/go/plan/topology_test.go
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/connection_pool.go
  srcs/go/rchannel/router.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/xterm/color.go
Due: go format test, clang format test, clang tidy

init elastic estimator example
  tests/python/integration/test_elastic_estimator.py
Due: none

generate config flags
  .github/workflows/ci.yaml
  scripts/tests/run-elastic-test.sh
  srcs/cpp/src/tensorflow/ops/cpu/elastic.cpp
  tests/python/integration/gen_schedule.py
  tests/python/integration/test_elastic_estimator.py
Due: clang format test, clang tidy

BroadcastGlobalVariablesOp
  tests/python/integration/test_elastic_estimator.py
Due: none

check consensus
  scripts/tests/run-elastic-test.sh
  tests/python/integration/test_elastic_estimator.py
Due: none

use operator to get worker count
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: python format test

cleanup log
  tests/python/integration/test_elastic_estimator.py
Due: none

move hook to package
  srcs/python/kungfu/tensorflow/hooks/__init__.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  tests/python/integration/test_elastic_estimator.py
Due: python format test

cleanup import
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  tests/python/integration/test_elastic_estimator.py
Due: python format test

rename
  benchmarks/adaptation/adaptive_trainer.py
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/job.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfubase/envs.go
  srcs/go/kungfurun/handler.go
  srcs/go/kungfurun/watch.go
  srcs/go/plan/config.go
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_elastic_estimator.py
  tests/python/integration/test_elastic_optimizer.py
  tests/python/integration/test_step_based_schedule.py
Due: go format test, python format test

rename
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/kungfu/kungfu.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/plan/config.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test, clang format test, clang tidy

fix import
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: python format test

Elastic estimator hooks. (#243)
  .github/workflows/ci.yaml
  benchmarks/adaptation/adaptive_trainer.py
  scripts/tests/run-elastic-test.sh
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/elastic.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/job.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfubase/envs.go
  srcs/go/kungfurun/handler.go
  srcs/go/kungfurun/watch.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/plan/config.go
  srcs/python/kungfu/tensorflow/hooks/__init__.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/python/integration/gen_schedule.py
  tests/python/integration/test_elastic_estimator.py
  tests/python/integration/test_elastic_optimizer.py
  tests/python/integration/test_step_based_schedule.py
Due: go format test, python format test, clang format test, clang tidy

log_detailed_result
  benchmarks/system/benchmark_kungfu.py
Due: none

remove unused import
  tests/python/integration/test_elastic_estimator.py
Due: none

add kungfu logo
  kungfu-logo.png
Due: none

add logo to readme
  README.md
Due: none

Logo (#244)
  README.md
  kungfu-logo.png
Due: none

release v0.3.0
  setup.py
Due: none

add filtering for grads that are None
  srcs/python/kungfu/tensorflow/optimizers/async_sgd.py
  srcs/python/kungfu/tensorflow/optimizers/sma_sgd.py
Due: python format test

leave initial variables untouched
  srcs/python/kungfu/tensorflow/optimizers/async_sgd.py
Due: python format test

use list comprehension
  srcs/python/kungfu/tensorflow/optimizers/async_sgd.py
Due: python format test

apply changes from pair to sma
  srcs/python/kungfu/tensorflow/optimizers/sma_sgd.py
Due: python format test

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
