Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

move env to a separate package
  srcs/go/job/job.go
  srcs/go/kungfu/env/envs.go
  srcs/go/plan/config.go
  srcs/go/plan/hostspec.go
  srcs/go/plan/id.go
  srcs/go/plan/peerlist.go
Due: go format test

move plan.Config to env.Config
  srcs/go/kungfu/env/config.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/plan/config.go
  srcs/go/plan/hostspec.go
  srcs/go/plan/id.go
  srcs/go/plan/peerlist.go
Due: go format test

simplify dependency
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/plan/id.go
  srcs/go/rchannel/connection/handler.go
  srcs/go/rchannel/handler/handler.go
  srcs/go/rchannel/server/server.go
Due: go format test

pass through config
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/rchannel/server/composed.go
  srcs/go/rchannel/server/server.go
Due: go format test

ListenAndServe
  srcs/go/rchannel/server/composed.go
Due: go format test

move handler.go to connection
  srcs/go/kungfu/runner/handler.go
  srcs/go/rchannel/connection/handler.go
  srcs/go/rchannel/handler/collective.go
  srcs/go/rchannel/handler/control.go
  srcs/go/rchannel/handler/handler.go
  srcs/go/rchannel/handler/p2p.go
  srcs/go/rchannel/handler/ping.go
Due: go format test

HandlerFunc
  srcs/go/rchannel/connection/handler.go
Due: go format test

close server on exit
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/rchannel/server/composed.go
  srcs/go/utils/errors.go
  srcs/go/utils/signal.go
  srcs/go/utils/utils.go
Due: go format test

connection.{New|Open}
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/session/monitoring.go
  srcs/go/rchannel/client/client.go
  srcs/go/rchannel/client/connection_pool.go
  srcs/go/rchannel/connection/connection.go
  tests/go/cmd/kungfu-test-util/kungfu-test-util.go
Due: go format test

rename import
  srcs/go/job/job.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/kungfu/session/workspace.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/monitor/counters_test.go
  srcs/go/monitor/monitor.go
  srcs/go/rchannel/connection/connection.go
Due: go format test

refactor connection (#265)
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/job.go
  srcs/go/kungfu/env/config.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/runner/handler.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/kungfu/session/monitoring.go
  srcs/go/kungfu/session/workspace.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/monitor/counters_test.go
  srcs/go/monitor/monitor.go
  srcs/go/plan/config.go
  srcs/go/plan/hostspec.go
  srcs/go/plan/id.go
  srcs/go/plan/peerlist.go
  srcs/go/rchannel/client/client.go
  srcs/go/rchannel/client/connection_pool.go
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/connection/handler.go
  srcs/go/rchannel/connection/message.go
  srcs/go/rchannel/connection/message_test.go
  srcs/go/rchannel/handler/collective.go
  srcs/go/rchannel/handler/control.go
  srcs/go/rchannel/handler/handler.go
  srcs/go/rchannel/handler/p2p.go
  srcs/go/rchannel/handler/ping.go
  srcs/go/rchannel/handler/testing.go
  srcs/go/rchannel/server/composed.go
  srcs/go/rchannel/server/server.go
  srcs/go/utils/errors.go
  srcs/go/utils/signal.go
  srcs/go/utils/utils.go
  tests/go/cmd/kungfu-test-util/kungfu-test-util.go
Due: go format test

version='0.2.2'
  setup.py
Due: none

version='0.2.2' (#267)
  setup.py
Due: none

move Workspace to base
  srcs/go/kungfu/base/workspace.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/shard.go
  srcs/go/kungfu/session/workspace.go
  srcs/go/libkungfu-comm/collective.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-fake-go-trainer/kungfu-fake-go-trainer.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

class ExponentialMovingAverage
  srcs/cpp/include/kungfu/utils/ema.hpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
Due: clang format test, clang tidy

class ExponentialMovingAverage (#268)
  srcs/cpp/include/kungfu/utils/ema.hpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
Due: clang format test, clang tidy

AllGather Go API
  srcs/go/kungfu/session/allgather.go
  srcs/go/kungfu/session/session.go
  srcs/go/plan/peerlist.go
  srcs/go/utils/errors.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

rename Session::ClusterSize to Session::Size
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/main.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-fake-go-trainer/kungfu-fake-go-trainer.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

move p2p APIs from session to peer
  srcs/go/kungfu/peer/p2p.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/main.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

AllGather C++ API
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/libkungfu-comm/collective.go
  tests/cpp/unit/test_operations.cpp
Due: go format test, clang format test, clang tidy

all_gather tensorflow API
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/python/integration/test_operators.py
Due: python format test, clang format test, clang tidy

expose all_gather in public document
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

minor changes and debug modifs for data race
  experimental/net_monitoring/CustomAdaSGD.py
  experimental/net_monitoring/NetMonHook.py
Due: none

AllGather (#269)
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfu/base/workspace.go
  srcs/go/kungfu/peer/p2p.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/allgather.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/shard.go
  srcs/go/kungfu/session/workspace.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/peerlist.go
  srcs/go/utils/errors.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/cpp/unit/test_operations.cpp
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/cmd/kungfu-bench-p2p/kungfu-bench-p2p.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-fake-go-trainer/kungfu-fake-go-trainer.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
  tests/python/integration/test_operators.py
Due: go format test, python format test, clang format test, clang tidy

fixed major bug that caused inconsistency when changing between sync algos
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
Due: none

changes for handling summary functionalities
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
Due: none

changes for azure experiment
  examples/tf1_training_monitoring.py
Due: none

reorg c++ code
  CMakeLists.txt
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/session.hpp
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/session.cpp
  srcs/python/kungfu/__init__.py
  srcs/python/kungfu/ext.py
Due: python format test, clang format test, clang tidy

rename kungfu_world to kungfu::Peer
  configure
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/nccl.cpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/local.cpp
  srcs/cpp/src/tensorflow/ops/cpu/p2p_new.cpp
  srcs/cpp/src/tensorflow/ops/cpu/peer_to_peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  tests/cpp/integration/collective_kungfu_go_impl.hpp
  tests/cpp/integration/fake_agent.cpp
  tests/cpp/integration/test_p2p_apis.cpp
  tests/cpp/unit/test_kungfu_world.cpp
  tests/cpp/unit/test_operations.cpp
Due: clang format test, clang tidy

local size
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/session.cpp
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/peerlist.go
  srcs/python/kungfu/__init__.py
  srcs/python/kungfu/ext.py
Due: go format test, python format test, clang format test, clang tidy

rename ClusterSize to Size
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/ext.py
  tests/cpp/integration/collective_kungfu_go_impl.hpp
  tests/cpp/integration/fake_agent.cpp
  tests/cpp/integration/test_p2p_apis.cpp
  tests/cpp/unit/test_operations.cpp
Due: go format test, python format test, clang format test, clang tidy

fix build
  srcs/cpp/include/kungfu/python/init.h
Due: clang format test, clang tidy

new Python API : current_local_size and current_local_rank (#270)
  CMakeLists.txt
  configure
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/session.hpp
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/nccl.cpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/local.cpp
  srcs/cpp/src/tensorflow/ops/cpu/p2p_new.cpp
  srcs/cpp/src/tensorflow/ops/cpu/peer_to_peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/peerlist.go
  srcs/python/kungfu/__init__.py
  srcs/python/kungfu/ext.py
  tests/cpp/integration/collective_kungfu_go_impl.hpp
  tests/cpp/integration/fake_agent.cpp
  tests/cpp/integration/test_p2p_apis.cpp
  tests/cpp/unit/test_kungfu_world.cpp
  tests/cpp/unit/test_operations.cpp
Due: go format test, python format test, clang format test, clang tidy

Fixed training logging and added dataset shuffling
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
Due: none

added ada flag for enabling adaptation
  examples/tf1_training_monitoring.py
Due: none

minor fix
  examples/tf1_training_monitoring.py
Due: none

fix NCCL
  configure
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

fix configure
  configure
Due: none

add more log
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
Due: none

fix NCCL (#271)
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
  configure
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy
