Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

format code
  srcs/python/kungfu/tensorflow/initializer/keras.py
  srcs/python/kungfu/tensorflow/optimizers/async_sgd.py
  srcs/python/kungfu/tensorflow/optimizers/sma_sgd.py
Due: python format test

try different order
  srcs/python/kungfu/tensorflow/initializer/keras.py
Due: python format test

Add filtering for grads that are None (#246)
  srcs/python/kungfu/tensorflow/optimizers/async_sgd.py
  srcs/python/kungfu/tensorflow/optimizers/sma_sgd.py
Due: python format test

release 0.2.1
  setup.py
Due: none

release v0.2.1 (#245)
  setup.py
Due: none

add inital code to change number of gpus from outside
  srcs/go/kungfu/kungfu.go
  srcs/go/plan/hostspec.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test

add sever that serves hostlist json
  go.mod
  srcs/go/kungfu/kungfu.go
  srcs/go/plan/hostspec.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-hostlist-server/kungfu-hostlist-server.go
Due: go format test

rename hostlist server to peerlist server
  srcs/go/kungfu/kungfu.go
  tests/go/cmd/kungfu-hostlist-server/kungfu-hostlist-server.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test

protect elastic scaling against some errors
  srcs/go/kungfu/kungfu.go
  srcs/go/plan/hostspec.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
  tests/go/cmd/kungfu-peerlist-test/kungfu-peerlist-test.go
Due: go format test

add python api for resize_cluster_from_url
  examples/tf1_mnist_estimator.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: go format test, python format test, clang format test, clang tidy

change model_dir in example
  examples/tf1_mnist_estimator.py
Due: none

add freq flag for peerlist-test
  tests/go/cmd/kungfu-peerlist-test/kungfu-peerlist-test.go
Due: none

adjust estmiator example for elastic
  examples/tf1_mnist_estimator.py
Due: none

GPUPool
  srcs/go/job/gpu_resource.go
  srcs/go/job/job.go
  srcs/go/kungfurun/watch.go
  srcs/go/plan/hostspec.go
  tests/go/cmd/kungfu-peerlist-test/kungfu-peerlist-test.go
Due: go format test

do not shuffle first peer list entry
  tests/go/cmd/kungfu-peerlist-test/kungfu-peerlist-test.go
Due: none

check id in GPUPool::Put
  srcs/go/job/gpu_resource.go
Due: go format test

fix format
  srcs/go/libkungfu-comm/adapt.go
Due: go format test

add own example for elastic
  experimental/estimator_elastic.py
Due: none

add own hook for new elastic (server)
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

make hook experimental hook accessible
  srcs/python/kungfu/tensorflow/experimental/__init__.py
  srcs/python/kungfu/tensorflow/experimental/hook/__init__.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

initial net monitoring dev commit
  examples/tf1_training_monitoring.py
  experimental/net-monitoring/NetMonitoringHook.py
Due: none

empty commit
  experimental/net-monitoring/NetMonitoringHook.py
Due: none

build kungfu-run with pip install by default
  CMakeLists.txt
  setup.py
Due: none

update readme
  README.md
Due: none

add requirements.txt
  experimental/atari_pingpong/requirements.txt
Due: none

update logging
  experimental/atari_pingpong/diff_trainer.py
  experimental/atari_pingpong/pingpong.py
Due: none

build kungfu-run with pip install by default (#249)
  CMakeLists.txt
  README.md
  setup.py
Due: none

pass through alpha
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
Due: python format test

hook development
  examples/tf1_training_monitoring.py
  experimental/net-monitoring/NetMonitoringHook.py
  experimental/net_monitoring/NetMonHook.py
Due: none

added CMA support for training step duration monitoring and summary writer for Tensorboard
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
Due: none

code cleaning for experiment preparation
  examples/tf1_training_monitoring.py
Due: none

new op :: exponential_moving_average
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/state.py
  tests/python/unit/test_op.py
Due: python format test, clang format test, clang tidy

new op :: exponential_moving_average (#250)
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/state.py
  tests/python/unit/test_op.py
Due: python format test, clang format test, clang tidy

apply ema to gns
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
Due: python format test

refactor ema
  .clang-format
  srcs/cpp/include/kungfu/utils/ema.hpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
Due: clang format test, clang tidy

simplify NoiseScale operator
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

fix format
  .clang-format
  srcs/cpp/include/kungfu/utils/ema.hpp
Due: clang format test, clang tidy

added CMA AllReduce funcitonality for detecting network congestion
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
Due: none

revert go.mod
  go.mod
Due: none

simplify example
  experimental/estimator_elastic.py
Due: none

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
