Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

add more log
  benchmarks/system/benchmark_kungfu.py
Due: none

support update cluster config from file
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/urlclient.go
Due: go format test

support https
  srcs/go/kungfu/peer/urlclient.go
Due: go format test

support update cluster config from file (#272)
  benchmarks/system/benchmark_kungfu.py
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/urlclient.go
Due: go format test

add ability to add and remove workers from config server
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

add ability to add and remove workers from config server (#273)
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

show example config
  tests/go/cmd/kungfu-config-client-example/kungfu-config-client-example.go
Due: none

show example config (#274)
  tests/go/cmd/kungfu-config-client-example/kungfu-config-client-example.go
Due: none

disabled_every_iteration as default
  examples/tf1_training_monitoring.py
Due: none

initial commit including the code base in session pkg for introducing the SmartAllReduce op
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

added initial monitoring functionality
  srcs/go/kungfu/base/strategy.go
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
  tests/go/testutils/stopwatch.go
Due: go format test

fixed minor monitoring issue and dev prints
  srcs/go/kungfu/session/strategy.go
  srcs/go/plan/topology.go
Due: go format test

storing master peer for every different graph
  srcs/go/plan/graph.go
  srcs/go/plan/topology.go
Due: go format test

minor fixes for establising graph master
  srcs/go/kungfu/session/strategy.go
  srcs/go/plan/graph.go
Due: go format test

minor modifs
  srcs/go/kungfu/base/strategy.go
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

trying out star strategy
  srcs/go/kungfu/session/strategy.go
  srcs/go/plan/topology.go
Due: go format test

KUNGFU_BUILD_TOOLS=OFF by default
  CMakeLists.txt
Due: none

update install insutruction
  README.md
Due: none

update install insutruction (#279)
  README.md
Due: none

changed the throttle_secs
  examples/tf1_training_monitoring.py
Due: none

refactored strategy struct. Introduced strategyStat sub struct.
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
Due: go format test

added strategy stats exporting functionality
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: go format test

added MultiStar strategy
  srcs/cpp/include/kungfu/strategy.h
  srcs/go/kungfu/base/strategy.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/plan/topology.go
Due: go format test, clang format test, clang tidy

added monitoring strategies functionality
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/shard.go
  srcs/go/kungfu/session/strategy.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: go format test

added data validation and new independent testprog
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
Due: none

minor fix on MonitorStrategies
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

introduced consensus reaching functionality for suspending strategy
  srcs/go/kungfu/session/adaptiveStrategies.go
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
Due: go format test

minor fix on kungfu-bench-allreduce pending refactoring
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: none

removed data rate from test prorgam
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
Due: none

support allreduce with customized tree
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/plan/graph.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
  tests/python/integration/test_operators.py
Due: go format test, python format test, clang format test, clang tidy

fix test
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

fix test
  tests/python/integration/test_operators.py
Due: none

assert.OK
  srcs/go/utils/assert/assert.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

assert.True
  srcs/go/utils/assert/assert.go
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
Due: go format test

more asserts
  srcs/go/kungfu/base/vector.go
  srcs/go/kungfu/session/session.go
Due: go format test

add TODOs
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/libkungfu-comm/collective.go
Due: go format test, clang format test, clang tidy

add more comments
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

support AllReduce with customised tree (#280)
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfu/base/vector.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/plan/graph.go
  srcs/go/utils/assert/assert.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/go/cmd/kungfu-test-public-apis/kungfu-test-public-apis.go
  tests/python/integration/test_operators.py
Due: go format test, python format test, clang format test, clang tidy

changes for supporting strtegy monitoring refference window and strategy change. not complete work.
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
Due: go format test

added functionality for changing to alternative strategy if congestion consensus reached
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/plan/topology.go
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
Due: go format test

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
