Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

update dockerfile
  benchmarks/adaptation/Dockerfile
Due: none

run Cluster Test
  .github/workflows/cluster.yaml
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/watch.go
  srcs/go/plan/peerlist.go
Due: go format test

refactor dockerfile
  .github/Dockerfile.base
  .github/Dockerfile.kungfu
  .github/workflows/cluster.yaml
  .gitignore
  benchmarks/adaptation/.gitignore
  benchmarks/adaptation/build-image.sh
  benchmarks/adaptation/gen-compose.py
Due: none

run config server and client in docker compose
  .github/Dockerfile.kungfu
  benchmarks/adaptation/gen-compose.py
  srcs/go/kungfu/kungfu.go
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test

download mnist
  .github/Dockerfile.base
  .github/Dockerfile.kungfu
  benchmarks/adaptation/gen-compose.py
Due: none

--ttl 30s
  .github/workflows/cluster.yaml
Due: none

fix exit reason
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

more tests
  .github/workflows/cluster-test-1.sh
  .github/workflows/cluster-test-2.sh
  .github/workflows/cluster.yaml
  benchmarks/adaptation/gen-compose.py
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: none

KUNGFU_CONFIG_ENABLE_STALL_DETECTION=true
  .github/workflows/cluster.yaml
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfuconfig/config.go
Due: go format test

fix env
  .github/Dockerfile.kungfu
  .github/workflows/cluster.yaml
Due: none

add more log
  srcs/go/utils/stalldetector.go
Due: go format test

remove old resize API
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/go/job/job.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfubase/envs.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/plan/config.go
  srcs/go/plan/hostspec.go
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: go format test, python format test, clang format test, clang tidy

fix build
  benchmarks/adaptation/adaptive_trainer.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
Due: python format test

fix test
  tests/python/integration/test_step_based_schedule.py
Due: none

sort import
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: python format test

init docker cluster manager example
  tests/go/cmd/kungfu-cluster-manager-example/cluster.go
  tests/go/cmd/kungfu-cluster-manager-example/ippool.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
Due: none

configClient
  tests/go/cmd/kungfu-cluster-manager-example/cluster.go
  tests/go/cmd/kungfu-cluster-manager-example/configclient.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
Due: none

add runner list in cluster config
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/flags.go
  srcs/go/kungfurun/handler.go
  srcs/go/kungfurun/watch.go
  srcs/go/plan/cluster.go
  srcs/go/plan/hostspec.go
  tests/go/cmd/kungfu-cluster-manager-example/cluster.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test

update termination condition
  benchmarks/adaptation/gen-compose.py
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfurun/flags.go
  srcs/go/kungfurun/watch.go
Due: go format test

update example
  tests/go/cmd/kungfu-cluster-manager-example/configclient.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
Due: none

fix config
  benchmarks/adaptation/gen-compose.py
Due: none

integrated custom optimizer for dynamically changing synchronization algorithm
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/CustomAdaSGD.py
  experimental/net_monitoring/NetMonHook.py
Due: none

rename
  benchmarks/adaptation/gen-compose.py
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-config-client-example/kungfu-config-client-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

update log
  .github/Dockerfile.kungfu
  .github/workflows/build-image.sh
  examples/elastic/README.md
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/watch.go
  srcs/go/plan/peerlist.go
Due: go format test

validate config
  srcs/go/plan/cluster.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: go format test

update example
  examples/elastic/README.md
  examples/elastic/mnist_slp_estimator.py
  srcs/go/kungfu/kungfu.go
  srcs/go/plan/cluster.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: go format test

remove max_steps
  examples/elastic/README.md
  examples/elastic/mnist_slp_estimator.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
Due: python format test

isort
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

update readme
  examples/elastic/README.md
Due: none

update log
  examples/elastic/README.md
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

Caveats
  examples/elastic/README.md
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

update README
  examples/elastic/README.md
Due: none

stop config server after all workers stopped
  tests/go/cmd/kungfu-cluster-manager-example/cluster.go
  tests/go/cmd/kungfu-cluster-manager-example/configclient.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

added backoff timer for congestion and broadcast op for changing back to SMA
  experimental/net_monitoring/NetMonHook.py
Due: none

Update README.md
  examples/elastic/README.md
Due: none

Update README.md (#255)
  examples/elastic/README.md
Due: none

identified issue with KungFu not supporting bool tf.vars. Pending development.
  experimental/net_monitoring/NetMonHook.py
Due: none
