Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

refactor
  examples/policies/gns_policy/gns_policy.py
  examples/policies/gns_policy/policy_hook.py
Due: none

wip
  examples/policies/gns_policy/base_policy.py
  examples/policies/gns_policy/ema.py
  examples/policies/gns_policy/gns_policy.py
  examples/policies/gns_policy/policy_hook.py
  examples/policies/gns_policy/train.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
Due: python format test

wip
  examples/policies/gns_policy/base_policy.py
  examples/policies/gns_policy/gns_policy.py
  examples/policies/gns_policy/policy_hook.py
  examples/policies/gns_policy/run_gns_policy_example.sh
  examples/policies/gns_policy/train.py
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
Due: python format test

use real CIFAR10 data
  examples/policies/gns_policy/input_data.py
  examples/policies/gns_policy/run_gns_policy_example.sh
  examples/policies/gns_policy/train.py
Due: none

runBuiltinConfigServer (#326)
  scripts/tests/run-tensorflow-resize-test.sh
  srcs/go/cmd/kungfu-run/app/builtin-config-server.go
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  tests/python/integration/test_tensorflow_resize.py
Due: go format test

get_or_create_global_variable
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/v1/helpers/__init__.py
  srcs/python/kungfu/tensorflow/variables.py
  tests/python/unit/test_helper_apis.py
Due: python format test

get_or_create_global_variable (#327)
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/v1/helpers/__init__.py
  srcs/python/kungfu/tensorflow/variables.py
  tests/python/unit/test_helper_apis.py
Due: python format test

remove unused code
  examples/policies/gns_policy/policy_hook.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/v1/helpers/utils.py
Due: python format test

resolve conflict
  examples/policies/gns_policy/input_data.py
  examples/policies/gns_policy/run_gns_policy_example.sh
  examples/policies/gns_policy/train.py
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/variables.py
  tests/python/unit/test_helper_apis.py
Due: python format test

fix
  examples/policies/gns_policy/input_data.py
Due: none

cherrypicks
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/variables.py
  srcs/python/kungfu/utils/__init__.py
  srcs/python/kungfu/utils/ema.py
  tests/python/unit/test_helper_apis.py
Due: python format test

update gns monitoring benchmark
  benchmarks/monitoring/benchmark.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
Due: python format test

put kungfu variable in LOCAL_VARIABLES
  srcs/python/kungfu/tensorflow/variables.py
Due: python format test

rename file
  srcs/python/kungfu/tensorflow/policy/__init__.py
  srcs/python/kungfu/tensorflow/policy/old_policies_hook.py
Due: python format test

fix test
  tests/python/unit/test_helper_apis.py
Due: none

cherrypicks (#328)
  benchmarks/monitoring/benchmark.py
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/variables.py
  srcs/python/kungfu/utils/__init__.py
  srcs/python/kungfu/utils/ema.py
  tests/python/unit/test_helper_apis.py
Due: python format test

wip
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/policy/__init__.py
  srcs/python/kungfu/tensorflow/policy/base_policy.py
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
  srcs/python/kungfu/tensorflow/policy/scheduled_batch_size_policy.py
  srcs/python/kungfu/tensorflow/variables.py
  tests/python/unit/test_tensorflow_policy.py
Due: python format test

fix import
  srcs/python/kungfu/tensorflow/policy/__init__.py
Due: python format test

rename
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
  srcs/python/kungfu/tensorflow/variables.py
  tests/python/unit/test_helper_apis.py
Due: python format test

fix
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
Due: python format test

fix
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
Due: python format test

create_setter
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/policy/scheduled_batch_size_policy.py
  srcs/python/kungfu/tensorflow/variables.py
  tests/python/unit/test_helper_apis.py
Due: python format test

pass sess to before_epoch
  srcs/python/kungfu/tensorflow/policy/base_policy.py
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
  srcs/python/kungfu/tensorflow/policy/scheduled_batch_size_policy.py
Due: python format test

rename
  examples/mnist_elastic_docker/README.md
  examples/mnist_elastic_docker/mnist_slp_estimator.py
Due: none

ScheduledElasticPolicy example
  .gitignore
  examples/mnist_elastic_policy/README.md
  examples/mnist_elastic_policy/elastic_policy.py
  examples/mnist_elastic_policy/main.py
  examples/mnist_elastic_policy/run.sh
  srcs/python/kungfu/tensorflow/policy/base_policy.py
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
  srcs/python/kungfu/tensorflow/variables.py
Due: python format test

fix test
  srcs/python/kungfu/tensorflow/policy/scheduled_batch_size_policy.py
Due: python format test

fix
  tests/python/unit/test_helper_apis.py
Due: none

after_train
  srcs/python/kungfu/tensorflow/policy/base_policy.py
Due: python format test

call after methods in reversed order
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
Due: python format test

remove old code
  srcs/python/kungfu/tensorflow/policy/old_policies_hook.py
  srcs/python/kungfu/tensorflow/policy/scaling.py
Due: python format test

move ScheduledBatchSizePolicyExample to test folder
  srcs/python/kungfu/tensorflow/policy/__init__.py
  tests/python/unit/scheduled_batch_size_policy.py
  tests/python/unit/test_tensorflow_policy.py
Due: python format test

remove unused code
  srcs/python/kungfu/policy/__init__.py
Due: python format test

Check in TensorFlow policy APIs and examples. (#329)
  .gitignore
  examples/mnist_elastic_docker/README.md
  examples/mnist_elastic_docker/mnist_slp_estimator.py
  examples/mnist_elastic_policy/README.md
  examples/mnist_elastic_policy/elastic_policy.py
  examples/mnist_elastic_policy/main.py
  examples/mnist_elastic_policy/run.sh
  srcs/python/kungfu/policy/__init__.py
  srcs/python/kungfu/tensorflow/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/policy/__init__.py
  srcs/python/kungfu/tensorflow/policy/base_policy.py
  srcs/python/kungfu/tensorflow/policy/policies_hook.py
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
  srcs/python/kungfu/tensorflow/policy/scaling.py
  srcs/python/kungfu/tensorflow/variables.py
  tests/python/unit/scheduled_batch_size_policy.py
  tests/python/unit/test_helper_apis.py
  tests/python/unit/test_tensorflow_policy.py
Due: python format test

TF2 elastic example (wip)
  examples/mnist_elastic_eager/README.md
  examples/mnist_elastic_eager/main.py
  examples/mnist_elastic_eager/run.sh
Due: none

sync_offsets
  examples/mnist_elastic_eager/main.py
Due: none

update
  examples/mnist_elastic_eager/run.sh
Due: none

elastic example for TF2 (#330)
  examples/mnist_elastic_eager/README.md
  examples/mnist_elastic_eager/main.py
  examples/mnist_elastic_eager/run.sh
Due: none

support disk_input in benchmark
  benchmarks/system/benchmark_kungfu.py
  experimental/gradient_noise/prepro.py
Due: none
