Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

reset numa_node_count to 1 if <= 0
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/hwloc.cpp
Due: clang format test, clang tidy

support launch with python multiprocess
  examples/multiprocess/tf_multiproces.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/env/config.go
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/cmd/__init__.py
  srcs/python/kungfu/loader.py
  srcs/python/kungfu/python/__init__.py
Due: go format test, python format test, clang format test, clang tidy

torch example
  examples/multiprocess/tf_multiprocess.py
  examples/multiprocess/torch_multiprocess.py
  srcs/python/kungfu/cmd/__init__.py
Due: python format test

fix numa_node_count (#342)
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/hwloc.cpp
  srcs/cpp/src/numa/placement.cpp
Due: clang format test, clang tidy

support launch with python multiprocess (#343)
  examples/multiprocess/tf_multiprocess.py
  examples/multiprocess/torch_multiprocess.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/env/config.go
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/cmd/__init__.py
  srcs/python/kungfu/loader.py
  srcs/python/kungfu/python/__init__.py
Due: go format test, python format test, clang format test, clang tidy

rename init.h to c_api.h
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/cuda.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_nccl.cpp
  tests/cpp/integration/fake_tf_agent.cpp
Due: clang format test, clang tidy

c_api
  CMakeLists.txt
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/include/kungfu/python/collective.h
  srcs/cpp/src/python/c_api.cpp
  srcs/python/kungfu/python/__init__.py
Due: python format test, clang format test, clang tidy

DATA_MIRROR_PREFIX=https://storage.googleapis.com/cvdf-datasets
  scripts/download-mnist.sh
Due: none

wip
  examples/torch_elastic/.gitignore
  examples/torch_elastic/run.sh
  examples/torch_elastic/torch_mnist_example.py
  scripts/launcher.sh
Due: none

use int32_t
  srcs/cpp/include/kungfu/python/collective.h
  srcs/cpp/src/python/c_api.cpp
Due: clang format test, clang tidy

export resize as plain python API (#344)
  CMakeLists.txt
  scripts/download-mnist.sh
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/include/kungfu/python/collective.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/c_api.cpp
  srcs/cpp/src/python/cuda.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_nccl.cpp
  srcs/python/kungfu/python/__init__.py
  tests/cpp/integration/fake_tf_agent.cpp
Due: python format test, clang format test, clang tidy

pytorch elastic using python native API
  examples/torch_elastic/run.sh
  examples/torch_elastic/torch_mnist_example.py
Due: none

pytorch elastic example using python native API (#345)
  examples/torch_elastic/.gitignore
  examples/torch_elastic/run.sh
  examples/torch_elastic/torch_mnist_example.py
  scripts/launcher.sh
Due: none

support python native resize from config server
  srcs/cpp/src/python/c_api.cpp
  srcs/python/kungfu/python/__init__.py
Due: python format test, clang format test, clang tidy

support python native resize from config server (#346)
  srcs/cpp/src/python/c_api.cpp
  srcs/python/kungfu/python/__init__.py
Due: python format test, clang format test, clang tidy

update mnist URL
  examples/torch_elastic/torch_mnist_example.py
Due: none

fix header
  srcs/cpp/include/kungfu/python/c_api.h
Due: clang format test, clang tidy

fix #348 (#349)
  examples/torch_elastic/torch_mnist_example.py
  srcs/cpp/include/kungfu/python/c_api.h
Due: clang format test, clang tidy

wip
  experimental/rl-example/rl_agent.py
  experimental/rl-example/rl_run.sh
  experimental/rl-example/rlzoo.py
  experimental/rl-example/run.sh
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfu/session/allreduce.go
  srcs/go/libkungfu-comm/collective.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  x
Due: go format test, python format test, clang format test, clang tidy

save/request
  experimental/rl-example/rl_agent.py
  experimental/rl-example/rlzoo.py
Due: none

1-to-1 queue
  experimental/queue/.gitignore
  experimental/queue/queue-example/main.go
  experimental/queue/queue_example.py
  experimental/queue/run.sh
  experimental/rl-example/rl_agent.py
  experimental/rl-example/rlzoo.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/queue.cpp
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/session/queue.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/queue.go
  srcs/go/rchannel/connection/message.go
  srcs/go/rchannel/handler/queue.go
  srcs/python/kungfu/tensorflow/ops/queue.py
  x
Due: go format test, python format test, clang format test, clang tidy

debug log
  srcs/go/kungfu/session/queue.go
  srcs/go/rchannel/handler/queue.go
Due: go format test

Failure_recovery
  docs/Failure_detection_architecture.png
  docs/Failure_detection_implementation.png
  docs/Failures_definition.png
  docs/Monitor_proposal.md
  examples/Failure_recovery_examples/eager.py
  examples/Failure_recovery_examples/tf1_mnist_session.py
  examples/Failure_recovery_examples/tf2_mnist_keras.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/cmd/kungfu-recovery/monitor.go
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/libkungfu-comm/cmds.go
  srcs/go/utils/iostream/iostream.go
  srcs/go/utils/iostream/stdio.go
  srcs/go/utils/runner/local/local.go
  srcs/python/kungfu/cmd/__init__.py
Due: go format test, python format test, clang format test, clang tidy

Failure_recovery
  srcs/go/utils/iostream/stdio.go
Due: go format test

Failure_recovery
  srcs/go/libkungfu-comm/cmds.go
Due: go format test

Failure_recovery
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
Due: go format test

Failure_recovery
  examples/Failure_recovery_examples/eager.py
  examples/Failure_recovery_examples/tf1_mnist_session.py
  examples/Failure_recovery_examples/tf2_mnist_keras.py
Due: none

Rename Monitor_proposal.md to monitor_proposal.md
  docs/monitor_proposal.md
Due: none

Delete Failure_detection_architecture.png
  docs/Failure_detection_architecture.png
Due: none

Delete Failure_detection_implementation.png
  docs/Failure_detection_implementation.png
Due: none

Delete Failures_definition.png
  docs/Failures_definition.png
Due: none

Add files via upload
  docs/failure_detection_architecture.png
  docs/failure_detection_implementation.png
  docs/failures_definition.png
Due: none

Update monitor_proposal.md
  docs/monitor_proposal.md
Due: none

Failure_recovery
  srcs/go/libkungfu-comm/cmds.go
  srcs/go/utils/iostream/stdio.go
Due: go format test

Failure_recovery
  srcs/go/cmd/kungfu-recovery/monitor.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/libkungfu-comm/cmds.go
  srcs/go/utils/runner/local/local.go
Due: go format test

check go version
  .github/workflows/ci.yaml
Due: none

run $ go test ./...
  .github/workflows/ci.yaml
Due: none

remove travis CI
  .travis.yml
Due: none

remove travis CI (#351)
  .github/workflows/ci.yaml
  .travis.yml
Due: none

run github action on PR
  .github/workflows/ci.yaml
  .github/workflows/cluster.yaml
  .github/workflows/compatiability.yaml
  .github/workflows/docker.yaml
  .github/workflows/pytorch.yaml
Due: none

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
