Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

adjust benchmark_kungfu to Spotnik
  benchmarks/system/benchmark_kungfu.py
Due: none

update for each 'batch size step'
  benchmarks/system/benchmark_kungfu.py
Due: none

fix bug
  benchmarks/system/benchmark_kungfu.py
Due: none

fix naming bug
  benchmarks/system/benchmark_kungfu.py
Due: none

fix bug of wrong iteration step
  benchmarks/system/benchmark_kungfu.py
Due: none

log more detail (#260)
  benchmarks/system/benchmark_kungfu.py
Due: none

set timeout to 30s
  srcs/go/kungfu/session.go
Due: go format test

increase timeout to 1min
  srcs/go/kungfu/session.go
Due: go format test

set timeout to 240s
  srcs/go/kungfu/session.go
Due: go format test

set timeout to 10s
  srcs/go/kungfu/session.go
Due: go format test

remove only rank 0 logs
  benchmarks/system/benchmark_kungfu.py
Due: none

set timout to 20
  srcs/go/kungfu/session.go
Due: go format test

add flag for timeout; run barrier at end of training
  benchmarks/system/benchmark_kungfu.py
  srcs/go/kungfu/session.go
Due: go format test

replace run_barrier with barrier
  benchmarks/system/benchmark_kungfu.py
Due: none

remove bug
  benchmarks/system/benchmark_kungfu.py
Due: none

remove barrier
  benchmarks/system/benchmark_kungfu.py
Due: none

minor modif for getting model dir
  examples/tf1_training_monitoring.py
Due: none

minor modif for enabling estimator
  examples/tf1_training_monitoring.py
Due: none

modif in data reading and output dirs
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
Due: none

fixed minor bug on last commit
  examples/tf1_training_monitoring.py
Due: none

addWorker adds a worker every minute
  debug/add_worker/add_worker.go
Due: none

add removing a worker every minute
  debug/remove_worker/remove_worker.go
Due: none

fix wrong file name
  debug/remove_worker/remove_worker.go
Due: none

add log every time num_workers changes
  benchmarks/system/benchmark_kungfu.py
Due: none

ad flag.Parse
  srcs/go/libkungfu-comm/main.go
Due: go format test

add logging to file
  benchmarks/system/benchmark_kungfu.py
Due: none

remove some logging
  benchmarks/system/benchmark_kungfu.py
Due: none

get spotnik timeout as env-variable
  srcs/go/kungfu/session.go
  srcs/go/libkungfu-comm/main.go
Due: go format test

remove pointer error
  srcs/go/kungfu/session.go
Due: go format test

add log-file-path as flag
  benchmarks/system/benchmark_kungfu.py
Due: none

add new line at the end of each append
  benchmarks/system/benchmark_kungfu.py
Due: none

use peer_info in apply_gradient
  srcs/python/kungfu/tensorflow/optimizers/async_sgd.py
Due: python format test

remove very first broadcast
  benchmarks/system/benchmark_kungfu.py
Due: none

comment out warmup
  benchmarks/system/benchmark_kungfu.py
Due: none

add prints
  benchmarks/system/benchmark_kungfu.py
Due: none

comment out two ops
  benchmarks/system/benchmark_kungfu.py
Due: none

remove spotnik_all_reduce
  benchmarks/system/benchmark_kungfu.py
Due: none

add more debug info
  srcs/go/utils/buildinfo.go
  srcs/go/utils/utils.go
  tests/go/cmd/kungfu-test-util/kungfu-test-util.go
Due: go format test

init benchmark_kungfu_elastic.py
  benchmarks/system/benchmark_kungfu_elastic.py
Due: none

sync step
  benchmarks/system/benchmark_kungfu_elastic.py
  tests/go/cmd/kungfu-test-util/kungfu-test-util.go
Due: none
