Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

fix typo on returning error from Server
  srcs/go/rchannel/server/composed.go
Due: go format test

fix typo on returning error from Server (#282)
  srcs/go/rchannel/server/composed.go
Due: go format test

check error
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

wip
  examples/go/kungfu-train-mnist-slp/idx.go
  examples/go/kungfu-train-mnist-slp/ops.go
  examples/go/kungfu-train-mnist-slp/slp.go
  examples/go/kungfu-train-mnist-slp/tensor.go
  examples/go/kungfu-train-mnist-slp/train-mnist-slp.go
  srcs/go/kungfu/base/vector.go
  x.sh
Due: go format test

fix connect leak
  srcs/go/kungfu/peer/urlclient.go
  tests/go/cmd/kungfu-config-client-example/kungfu-config-client-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: go format test

functools.reduce
  examples/elastic/mnist_slp_estimator.py
Due: none

latest on succesful go net stack adapt stratetgy experiment
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
Due: go format test

refactored net stack for exposing one method for implementing strategy change ahead of tensorflow experiment
  experimental/adapt_strategy/adapt_strategy.py
  srcs/go/kungfu/session/adaptiveStrategies.go
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
Due: go format test

exposed ChangeStrategy on the Python level
  experimental/adapt_strategy/adapt_strategy.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/ext.py
Due: go format test, python format test, clang format test, clang tidy

adopted AllReduceWith and prepared synthetic tf benchmark experiment
  experimental/adapt_strategy/adapt_strategy.py
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/allreduce.go
Due: go format test

wip
  experimental/adapt_strategy/adapt_strategy.py
Due: none

fixed bugs for calling MonitoredAllReduce with null tree ptr
  experimental/adapt_strategy/adapt_strategy.py
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/libkungfu-comm/collective.go
Due: go format test, clang format test, clang tidy

added adaptation to experiment script and fixed typo in ext.py
  experimental/adapt_strategy/adapt_strategy.py
  srcs/python/kungfu/ext.py
Due: python format test

update log
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

exposed utility function in Python for experimental purposes
  experimental/adapt_strategy/adapt_strategy.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/ext.py
  tests/go/cmd/kungfu-adaptive-strategy-allreduce/kungfu-adaptive-strategy-allreduce.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: go format test, python format test, clang format test, clang tidy

fixed typo
  srcs/python/kungfu/ext.py
Due: python format test

cleaning up code ahead of large scale experiment
  experimental/adapt_strategy/adapt_strategy.py
  srcs/go/kungfu/session/strategy.go
Due: go format test

wip
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

wip
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: none

azure debug & added steps as arg in synth bench
  experimental/adapt_strategy/adapt_strategy.py
  srcs/go/kungfu/session/session.go
Due: go format test

wip
  srcs/go/kungfu/session/session.go
Due: go format test

tuned interference threshold for azure experiment
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

printing cleanup and tuning for azure experiments
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

wip
  srcs/go/kungfu/session/adaptiveStrategies.go
  tests/go/cmd/kungfu-bench-allreduce/kungfu-bench-allreduce.go
Due: go format test

refactored way of taking ref window
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

hot fix and temp implementation for avg window
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

fixed sliding window avg for adaptive strategy
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

fixed minor bugs
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

added throughput metrics in network stack
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

refactor for adapting on throughput
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/session.go
Due: go format test

fix HTTP connection leak (#283)
  examples/elastic/mnist_slp_estimator.py
  srcs/go/kungfu/peer/urlclient.go
  tests/go/cmd/kungfu-config-client-example/kungfu-config-client-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: go format test

added ShowSize() in kungfu net layer
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/utils/utils.go
Due: go format test

wip
  experimental/adapt_strategy/adapt_strategy.py
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

refactored for real training
  experimental/adapt_strategy/adapt_strategy.py
  experimental/adapt_strategy/adapt_strategy_dev.py
Due: none

wip
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

changed to MonitoredAllReduce for sync_sgd
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: python format test

fixed typos
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: python format test
