Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

use singleton instead of extern variable (#358)
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/include/kungfu/utils/error_checker.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/c_api.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/adaptation.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/local.cpp
  srcs/cpp/src/tensorflow/ops/cpu/monitoring.cpp
  srcs/cpp/src/tensorflow/ops/cpu/p2p_new.cpp
  srcs/cpp/src/tensorflow/ops/cpu/peer_to_peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/queue.cpp
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  tests/cpp/integration/test_nccl_helper.cpp
Due: clang format test, clang tidy

log once
  srcs/go/kungfu/job/job.go
Due: go format test

log once (#359)
  srcs/go/kungfu/job/job.go
Due: go format test

add flag
  configure
Due: none

remove implicit init
  srcs/python/kungfu/python/__init__.py
Due: python format test

add setup script for mindspore
  setup_mindspore.py
Due: none

add if linux for flag
  configure
Due: none

add check for KUNGFU_NO_AUTO_INIT
  srcs/python/kungfu/python/__init__.py
Due: python format test

support run with `python -m kungfu.cmd ...`
  .gitignore
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/libkungfu-comm/cmds.go
  srcs/python/kungfu/cmd/__init__.py
  srcs/python/kungfu/cmd/__main__.py
Due: go format test, python format test, clang format test, clang tidy

Fix linking (#361)
  configure
  setup_mindspore.py
  srcs/python/kungfu/python/__init__.py
Due: python format test

support run with `python -m kungfu.cmd ...` (#362)
  .gitignore
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/libkungfu-comm/cmds.go
  srcs/python/kungfu/cmd/__init__.py
  srcs/python/kungfu/cmd/__main__.py
Due: go format test, python format test, clang format test, clang tidy

init :: -watch-mode reload
  INSTALL
  go.mod
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/watch2.go
Due: go format test

merge
  INSTALL
  scripts/tests/test-elastic-reload.sh
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/c_api.cpp
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/env/config.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/handler.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/kungfu/runner/watch2.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/python/elastic_state.py
  tests/python/integration/test_elastic_reload.py
  x
Due: go format test, python format test, clang format test, clang tidy

revert
  go.mod
  x
Due: none

support -elastic-mode=reload (#363)
  INSTALL
  configure
  scripts/tests/test-elastic-reload.sh
  setup_mindspore.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/c_api.cpp
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/env/config.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/handler.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/python/elastic_state.py
  tests/python/integration/test_elastic_reload.py
Due: go format test, python format test, clang format test, clang tidy

log
  srcs/go/kungfu/runner/watch.go
  tests/python/integration/test_elastic_reload.py
Due: go format test

log
  srcs/go/kungfu/runner/watch.go
Due: go format test

python -m kungfu.cmd.elastic_run ...
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/libkungfu-comm/cmds.go
  srcs/python/kungfu/cmd/__init__.py
  srcs/python/kungfu/cmd/elastic_run/__init__.py
  srcs/python/kungfu/cmd/elastic_run/__main__.py
Due: go format test, python format test, clang format test, clang tidy

fix path
  srcs/go/cmd/kungfu-elastic-run/app/kungru-elastic-run.go
  srcs/go/libkungfu-comm/cmds.go
Due: go format test

wip
  INSTALL
  srcs/go/cmd/kungfu-elastic-run/app/kungru-elastic-run.go
  srcs/go/libkungfu-comm/cmds.go
Due: go format test

wip
  INSTALL
  srcs/go/cmd/kungfu-elastic-run/kungfu-elastic-run.go
  srcs/go/kungfu/elastic/state.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/runner/handler.go
  srcs/go/kungfu/session/session.go
  srcs/go/rchannel/client/client.go
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/connection/message.go
  tests/go/cmd/kungfu-test-elastic-worker/kungfu-test-elastic-worker.go
  x
Due: go format test

deps
  .gitmodules
Due: none

build
  .gitmodules
  deps/build.sh
  deps/ms-elastic/CMakeLists.txt
  deps/ms-elastic/mindspore.cmake
  x
Due: none

ci
  .github/workflows/ms-elastic.yml
Due: none

git submodule update --init
  .github/workflows/ms-elastic.yml
  deps/ms-elastic/CMakeLists.txt
Due: none

rm
  deps/ms-elastic/include/tracer/traced
Due: none

run
  deps/ms-elastic/examples/example-elastic-worker.py
  deps/run.sh
  x
Due: none

kungfu_create_tf_records
  .gitignore
  CMakeLists.txt
  INSTALL
  configure
  deps/ms-elastic/examples/example-elastic-worker.py
  deps/ms-elastic/mindspore.cmake
  setup_tensorflow.py
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/src/python/elastic.cpp
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/python/elastic/__init__.py
  x
Due: python format test, clang format test, clang tidy

ds.sync(es.progress());
  deps/ms-elastic/examples/example-elastic-worker.py
  deps/ms-elastic/include/stdml/bits/data/state2.hpp
  deps/ms-elastic/src/stdml/data/index.cpp
  deps/ms-elastic/src/stdml/data/state2.cpp
  deps/ms-elastic/src/stdml/data/tf_writer.cpp
  srcs/cpp/src/python/elastic.cpp
Due: clang format test, clang tidy

pass_env KUNGFU_ENABLE_MINDSPORE_ELASTIC
  setup_mindspore.py
Due: none

gen_filename
  deps/ms-elastic/src/stdml/data/tf_writer.cpp
Due: none

return filenames
  .gitignore
  deps/ms-elastic/examples/example-elastic-worker.py
  srcs/cpp/src/python/elastic.cpp
  srcs/python/kungfu/python/elastic/__init__.py
Due: python format test, clang format test, clang tidy

log
  srcs/cpp/src/python/elastic.cpp
Due: clang format test, clang tidy

shard_result
  deps/ms-elastic/cmds/ms-elastic-create-tf-records.cpp
  deps/ms-elastic/examples/example-elastic-worker.py
  deps/ms-elastic/include/stdml/bits/data/tf_writer.hpp
  deps/ms-elastic/src/stdml/data/tf_writer.cpp
  srcs/cpp/src/python/elastic.cpp
  srcs/python/kungfu/python/elastic/__init__.py
  x
Due: python format test, clang format test, clang tidy

fix
  deps/ms-elastic/examples/example-elastic-worker.py
  srcs/python/kungfu/python/elastic/__init__.py
Due: python format test

include 0-size batch
  deps/ms-elastic/src/stdml/data/tf_writer.cpp
Due: none

MAX_SAMPLE_PER_FILE
  srcs/cpp/src/python/elastic.cpp
Due: clang format test, clang tidy

drop tail
  deps/ms-elastic/include/stdml/bits/data/tf_writer.hpp
  deps/ms-elastic/src/stdml/data/tf_writer.cpp
Due: none
