Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

init nccl controller lazily
  CMakeLists.txt
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test, clang format test, clang tidy

call _nccl_controller->InitOnce()
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

INSTALL(DIRECTORY lib DESTINATION .)
  CMakeLists.txt
Due: none

update log level
  srcs/go/utils/runner/local/local.go
Due: go format test

init nccl controller lazily (#238)
  CMakeLists.txt
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/go/utils/runner/local/local.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: go format test, python format test, clang format test, clang tidy

_show_tensorflow_info
  srcs/python/kungfu/info/__main__.py
Due: python format test

update logging
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

fix
  srcs/python/kungfu/info/__main__.py
Due: python format test

deprecation._PRINT_DEPRECATION_WARNINGS = False
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
  srcs/python/kungfu/_utils.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

cleanup
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

remove unused import
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

fix import
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

update log level
  srcs/go/cmd/kungfu-run/kungfu-run.go
Due: go format test

cancel if remote task failed
  srcs/go/utils/runner/remote/remote.go
Due: go format test

only log on master
  benchmarks/system/benchmark_kungfu.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

nccl_fusion=False by default
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: python format test

trace spin_wait
  cmake/Findstdtracer.cmake
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

support log level
  srcs/go/log/logger.go
Due: go format test

add more log
  benchmarks/system/benchmark_kungfu.py
Due: none

update log
  benchmarks/system/benchmark_kungfu.py
Due: none

set CMAKE_BUILD_PARALLEL_LEVEL
  setup.py
Due: none

add a test
  tests/go/cmd/kungfu-bad-worker/kungfu-bad-worker.go
Due: none

update log
  tests/go/cmd/kungfu-bad-worker/kungfu-bad-worker.go
Due: none

cleanup io redirect
  srcs/go/utils/iostream/lazyfile.go
  srcs/go/utils/iostream/stdio.go
  srcs/go/utils/iostream/xterm.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/xterm/color.go
Due: go format test

refactor remote log
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/log/logger.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/ssh/ssh.go
Due: go format test

write remote log to files
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

fix
  srcs/go/utils/iostream/xterm.go
  srcs/go/utils/xterm/color.go
Due: go format test

update dependency
  cmake/Findstdtracer.cmake
Due: none

set default log level to Info
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/log/logger.go
Due: go format test

refactor logging and I/O redirect (#239)
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
  cmake/Findstdtracer.cmake
  setup.py
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/log/logger.go
  srcs/go/utils/iostream/lazyfile.go
  srcs/go/utils/iostream/stdio.go
  srcs/go/utils/iostream/xterm.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
  srcs/go/utils/ssh/ssh.go
  srcs/go/utils/xterm/color.go
  srcs/python/kungfu/_utils.py
  srcs/python/kungfu/info/__main__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
  tests/go/cmd/kungfu-bad-worker/kungfu-bad-worker.go
Due: go format test, python format test, clang format test, clang tidy

fix doc build
  setup.py
Due: none

trace CPU AllReduce
  cmake/Findstdtracer.cmake
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

fix build
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

remove unused code
  srcs/go/kungfuconfig/config.go
  srcs/go/utils/iostream/iostream.go
Due: go format test

remove unused code
  srcs/go/utils/ssh/ssh.go
Due: go format test

config log level from env
  srcs/go/kungfuconfig/config.go
  srcs/go/log/logger.go
Due: go format test

revert trace cpu AllReduce
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

update doc
  CONTRIBUTING.md
Due: none

clean log and trace (#240)
  CONTRIBUTING.md
  cmake/Findstdtracer.cmake
  setup.py
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfuconfig/config.go
  srcs/go/log/logger.go
  srcs/go/utils/iostream/iostream.go
  srcs/go/utils/ssh/ssh.go
Due: go format test, clang format test, clang tidy
