Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

delete old elastic hook and move new one in position
  srcs/python/kungfu/tensorflow/hook/__init__.py
  srcs/python/kungfu/tensorflow/hook/elastic.py
  srcs/python/kungfu/tensorflow/hooks/__init__.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: python format test

finish first version of example
  examples/elastic/mnist_slp_estimator.py
  examples/elastic/run_elastic.sh
Due: none

some cleaning
  examples/elastic/config_server_init.json
  examples/elastic/elastic_estimator.py
  examples/elastic/run_elastic.sh
Due: none

cleanup config server
  .github/Dockerfile.kungfu
  benchmarks/adaptation/gen-compose.py
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  srcs/go/cmd/kungfu-config-server/kungfu-config-server.go
  srcs/go/kungfu/elastic/configserver/configserver.go
  srcs/go/kungfu/peer/legacy.go
  srcs/go/utils/utils.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
  tests/go/configserver/client.go
Due: go format test

fix cancel
  srcs/go/cmd/kungfu-config-server/kungfu-config-server.go
  srcs/go/kungfu/elastic/configserver/configserver.go
Due: go format test

include TF headers as SYSTEM headers
  setup.py
  srcs/cmake/tf-op.cmake
Due: none

cleanup build warnings
  srcs/cpp/src/tensorflow/ops/cpu/peer_to_peer.cpp
Due: clang format test, clang tidy

-Wfatal-errors
  CMakeLists.txt
  srcs/cmake/strict.cmake
Due: none

fix build
  configure
  srcs/cmake/tests.cmake
  tests/cpp/unit/test_operations.cpp
Due: none

use size_t
  srcs/cpp/src/tensorflow/ops/cpu/peer_to_peer.cpp
Due: clang format test, clang tidy

cleanup build warnings (#298)
  CMakeLists.txt
  configure
  setup.py
  srcs/cmake/strict.cmake
  srcs/cmake/tests.cmake
  srcs/cmake/tf-op.cmake
  srcs/cpp/src/tensorflow/ops/cpu/peer_to_peer.cpp
  tests/cpp/unit/test_operations.cpp
Due: clang format test, clang tidy

initial support for local/cross/inplace operations
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/session.cpp
  srcs/go/kungfu/base/workspace.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/allgather.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/graph/graph.go
  srcs/go/plan/graph/graph_test.go
  srcs/go/plan/graph_test.go
  srcs/go/plan/peerlist.go
  srcs/go/plan/subgraph/subgraph.go
  srcs/go/plan/topology.go
  srcs/go/plan/topology_test.go
Due: go format test, clang format test, clang tidy

initial support for local/cross/inplace operations (#299)
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/session.cpp
  srcs/go/kungfu/base/workspace.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/allgather.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/graph/graph.go
  srcs/go/plan/graph/graph_test.go
  srcs/go/plan/graph_test.go
  srcs/go/plan/peerlist.go
  srcs/go/plan/subgraph/subgraph.go
  srcs/go/plan/topology.go
  srcs/go/plan/topology_test.go
Due: go format test, clang format test, clang tidy

initial support for hierarchical-nccl
  benchmarks/system/benchmark_kungfu.py
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test, clang format test, clang tidy

more debug log
  srcs/cpp/include/kungfu/utils/error_checker.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

initial support for hierarchical-nccl (#301)
  benchmarks/system/benchmark_kungfu.py
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/cpp/include/kungfu/utils/error_checker.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test, clang format test, clang tidy

StreamPool
  .clang-format
  CMakeLists.txt
  srcs/cpp/include/kungfu/cuda/stream.hpp
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/cpp/src/cuda/stream.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/nccl.cpp
  tests/cpp/integration/collective_nccl_impl.hpp
  tests/cpp/integration/cuda_vector.hpp
Due: clang format test, clang tidy

rearrange headers
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/helper.hpp
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
Due: clang format test, clang tidy

reorg sources
  CMakeLists.txt
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/nccl/common.cpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/helper.cpp
  srcs/cpp/src/nccl/scheduler.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_nccl.cpp
  srcs/cpp/src/python/nccl.cpp
Due: clang format test, clang tidy

reduce diff
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/src/nccl/controller.cpp
Due: clang format test, clang tidy

simplify include
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/python/init_nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

--xla (#300)
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
Due: none

--xla (#300) (#303)
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
Due: none

use stream pool
  CMakeLists.txt
  srcs/cpp/include/kungfu/cuda/stream.hpp
  srcs/cpp/include/kungfu/nccl/helper.hpp
  srcs/cpp/src/cuda/stream.cpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/nccl/helper.cpp
Due: clang format test, clang tidy

SHM (wip)
  srcs/go/kungfu/config/config.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/session/session.go
  srcs/go/plan/addr.go
  srcs/go/rchannel/connection/connection.go
  srcs/go/rchannel/connection/message.go
  srcs/go/rchannel/handler/collective.go
  srcs/go/utils/shm/shm.go
  srcs/go/utils/shm/shm_darwin.go
  srcs/go/utils/shm/shm_linux.go
  srcs/go/utils/shmpool/shmpool.go
Due: go format test

kungfu-notify-start (#302)
  srcs/go/kungfu/peer/peer.go
  srcs/go/utils/urlclient.go
  tests/go/cmd/kungfu-notify-start/kungfu-notify-start.go
Due: go format test

make kungfu-run a package
  setup.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/libkungfu-comm/cmds.go
  srcs/python/kungfu/cmd/__init__.py
Due: go format test, python format test, clang format test, clang tidy

pass through os.Args
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/libkungfu-comm/cmds.go
Due: go format test

rename kungfu.ext to kungfu.python
  CONTRIBUTING.md
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
  benchmarks/system/benchmark_kungfu.py
  benchmarks/system/benchmark_kungfu_elastic.py
  benchmarks/system/benchmark_kungfu_tf2.py
  examples/elastic/mnist_slp_estimator.py
  examples/keras_mnist.py
  examples/tf1_mnist_estimator.py
  examples/tf1_mnist_keras.py
  examples/tf1_mnist_session.py
  examples/tf2_mnist_gradient_tape.py
  examples/tf2_mnist_keras.py
  examples/tf2_mnist_keras_dataset.py
  srcs/python/kungfu/__init__.py
  srcs/python/kungfu/info/__main__.py
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
  tests/python/integration/test_elastic_estimator.py
  tests/python/integration/test_operators.py
  tests/python/integration/test_optimizers.py
  tests/python/integration/test_optimizers_tf2.py
  tests/python/integration/test_python_apis.py
  tests/python/integration/test_set_tree.py
  tests/python/unit/test_op.py
Due: python format test

KUNGFU_BUILD_TOOLS=off
  CMakeLists.txt
  setup.py
Due: none

fix elastic init parameters
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/env/config.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/kungfu/runner/watch.go
Due: go format test

remove unused function
  srcs/go/kungfu/env/config.go
Due: go format test

InstallStallDetector for Peer::propose
  srcs/go/kungfu/peer/peer.go
Due: go format test

kungfu-notify-start (#302) (#305)
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/env/config.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/utils/urlclient.go
  tests/go/cmd/kungfu-notify-start/kungfu-notify-start.go
Due: go format test

update README.
  README.md
Due: none

make kungfu-run a Python API (#306)
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
  benchmarks/system/benchmark_kungfu.py
  benchmarks/system/benchmark_kungfu_elastic.py
  benchmarks/system/benchmark_kungfu_tf2.py
  examples/elastic/mnist_slp_estimator.py
  examples/keras_mnist.py
  examples/tf1_mnist_estimator.py
  examples/tf1_mnist_keras.py
  examples/tf1_mnist_session.py
  examples/tf2_mnist_gradient_tape.py
  examples/tf2_mnist_keras.py
  examples/tf2_mnist_keras_dataset.py
  setup.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/libkungfu-comm/cmds.go
  srcs/python/kungfu/__init__.py
  srcs/python/kungfu/cmd/__init__.py
  srcs/python/kungfu/info/__main__.py
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
  tests/python/integration/test_elastic_estimator.py
  tests/python/integration/test_operators.py
  tests/python/integration/test_optimizers.py
  tests/python/integration/test_optimizers_tf2.py
  tests/python/integration/test_python_apis.py
  tests/python/integration/test_set_tree.py
  tests/python/unit/test_op.py
Due: go format test, python format test, clang format test, clang tidy

LinearExecutor
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/src/nccl/scheduler.cpp
Due: clang format test, clang tidy

don't use stream pool
  srcs/cpp/src/nccl/controller.cpp
Due: clang format test, clang tidy

remove unused code
  srcs/cpp/include/kungfu/nccl/helper.hpp
  srcs/cpp/src/nccl/helper.cpp
Due: clang format test, clang tidy

createCrossBinaryTreeStrategies
  srcs/go/kungfu/session/strategy.go
  srcs/go/plan/subgraph/subgraph.go
Due: go format test
