Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

Add commands to run PyTorch eamples and benchmark.
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_horovod_torch.py
  examples/torch_mnist_example.py
Due: none

add comments.
  examples/torch_mnist_example.py
Due: none

initial support for pytorch (#309)
  .github/workflows/pytorch.yaml
  .gitignore
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_horovod_torch.py
  benchmarks/system/benchmark_kungfu_torch.py
  examples/torch_mnist_example.py
  examples/torch_simple_example.py
  setup.py
  setup_pytorch.py
  setup_tensorflow.py
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/include/kungfu/utils/handler_manager.hpp
  srcs/cpp/src/torch/common.cpp
  srcs/cpp/src/torch/module_cpu.cpp
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/cpp/src/torch/ops/cuda/helper.cpp
  srcs/python/kungfu/torch/__init__.py
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/clib.py
  srcs/python/kungfu/torch/ops/collective.py
  srcs/python/kungfu/torch/optimizers/__init__.py
  srcs/python/kungfu/torch/optimizers/sync_sgd.py
Due: python format test, clang format test, clang tidy

add a self contained docker example
  .github/workflows/docker.yaml
  docker/Dockerfile.example-ubuntu18
Due: none

fix ci
  .github/workflows/docker.yaml
Due: none

fix doc
  docs/index.rst
  docs/serve.go
  srcs/python/kungfu/python/__init__.py
Due: python format test

add set_tree to public API
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_set_tree.py
Due: python format test

update public API docs (#310)
  .github/workflows/docker.yaml
  docker/Dockerfile.example-ubuntu18
  docs/index.rst
  docs/serve.go
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_set_tree.py
Due: python format test

provide rank and cluster_size as stand alone TF OPs
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/topology.py
Due: python format test, clang format test, clang tidy

fix doc
  srcs/python/kungfu/tensorflow/ops/topology.py
Due: python format test

add unit tests
  tests/python/unit/test_op.py
Due: none

fixed bug from merge with strategy object instantiation
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
Due: go format test

simplify
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
Due: clang format test, clang tidy

remove redundant code
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/utils/utils.go
Due: go format test

provide rank and cluster_size as standalone TF OPs (#312)
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/topology.py
  tests/python/unit/test_op.py
Due: python format test, clang format test, clang tidy

fixed python merging issue
  experimental/adapt_strategy/adapt_strategy.py
Due: none

code cleanup
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/allreduce.go
Due: go format test

code cleanup
  experimental/adapt_strategy/adapt_strategy_dev.py
  srcs/go/kungfu/session/session.go
Due: go format test

code cleanup
  srcs/go/kungfu/session/shard.go
  srcs/go/kungfu/session/strategy.go
Due: go format test

comment
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

add policy and ScalingPolicy
  srcs/python/kungfu/tensorflow/policy/__init__.py
  srcs/python/kungfu/tensorflow/policy/policy.py
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
  srcs/python/kungfu/tensorflow/policy/scaling.py
Due: python format test

adaptive communication strategy policy
  .gitignore
  experimental/adapt_strategy/adapt_strategy.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/strategy.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/adaptation.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfu/base/strategy.go
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/topology.go
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: go format test, python format test, clang format test, clang tidy

cleanup training script
  experimental/adapt_strategy/adapt_strategy.py
Due: none

cleanup
  srcs/go/kungfu/session/strategy.go
Due: go format test

cleanup
  srcs/go/kungfu/session/adaptiveStrategies.go
Due: go format test

consistent naming
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/strategy.go
Due: go format test

adaptive communication strategy policy (#313)
  .gitignore
  experimental/adapt_strategy/adapt_strategy.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/strategy.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/adaptation.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfu/base/strategy.go
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/topology.go
  srcs/python/kungfu/python/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: go format test, python format test, clang format test, clang tidy

move policy out of tf dir
  srcs/python/kungfu/policy/policy.py
Due: python format test

proposal for mapping policy to tf hook
  srcs/python/kungfu/policy/__init__.py
  srcs/python/kungfu/policy/policy.py
  srcs/python/kungfu/tensorflow/policy/policy_hook.py
  srcs/python/kungfu/tensorflow/policy/scaling_policy.py
Due: python format test

Check in Artifact Evaluation README>
  osdi20/README.md
Due: none

checkpoint
  osdi20/README.md
Due: none

add VM setup instructions
  osdi20/README.md
Due: none

updte
  benchmarks/monitoring/benchmark.py
  osdi20/README.md
Due: none

monitoring checkpoint.
  osdi20/README.md
Due: none

added adaptive comm strategy readme section
  osdi20/README.md
Due: none

Check in scalability README.
  osdi20/README.md
Due: none

minor additional information in adaptive comm strategy part of readme
  osdi20/README.md
Due: none

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
