Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, go format test, python format test, clang format test, clang tidy

tensorflow 1.12.3:
  stage: test
  image: python:3.6
  variables:
    KUNGFU_DOWNLOAD_GO: 'ON'
    TF_VERSION: 1.12.3
  before_script:
  - pip3 install --upgrade pip
  - pip3 install cmake numpy==1.16 tensorflow==${TF_VERSION}
  - pip3 --version
  - python3 --version
  - python3 -c "import tensorflow as tf; print(tf.__version__)"
  script:
  ...

tensorflow 1.13.2:
  stage: test
  image: python:3.6
  variables:
    KUNGFU_DOWNLOAD_GO: 'ON'
    TF_VERSION: 1.13.2
  before_script:
  - pip3 install --upgrade pip
  - pip3 install cmake numpy==1.16 tensorflow==${TF_VERSION}
  - pip3 --version
  - python3 --version
  - python3 -c "import tensorflow as tf; print(tf.__version__)"
  script:
  ...

tensorflow 1.15.0:
  stage: test
  image: python:3.6
  variables:
    KUNGFU_DOWNLOAD_GO: 'ON'
    TF_VERSION: 1.15.0
  before_script:
  - pip3 install --upgrade pip
  - pip3 install cmake numpy==1.16 tensorflow==${TF_VERSION}
  - pip3 --version
  - python3 --version
  - python3 -c "import tensorflow as tf; print(tf.__version__)"
  script:
  ...

tensorflow 2.0.0:
  stage: test
  image: python:3.6
  variables:
    KUNGFU_DOWNLOAD_GO: 'ON'
    TF_VERSION: 2.0.0
  before_script:
  - pip3 install --upgrade pip
  - pip3 install cmake numpy==1.16 tensorflow==${TF_VERSION}
  - pip3 --version
  - python3 --version
  - python3 -c "import tensorflow as tf; print(tf.__version__)"
  script:
  ...

TF1 python3 test:
  stage: test
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - 'DATA_DIR=$HOME/var/data \
  
    ./scripts/download-mnist.sh
  
    '
  - python3 -c "import tensorflow as tf; print(tf.__version__)"
  - pip3 install tensorflow==1.13.2
  ...

TF2 python3 test:
  stage: test
  image: python:3.6
  variables:
    KUNGFU_DOWNLOAD_GO: 'ON'
    TF_VERSION: 2.0.0
    KUNGFU_BUILD_TOOLS: 'ON'
  before_script:
  - pip3 install --upgrade pip
  - pip3 install cmake numpy==1.16 tensorflow==${TF_VERSION}
  - pip3 --version
  - python3 --version
  ...

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/lint.requirements.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

set trigger conditions for gitlab CI (#210)
  .gitlab-ci.yml
  .travis.yml
Due: none

bump version to 0.2.0
  setup.py
Due: none

make alpha configurable in SMA.
  srcs/python/kungfu/tensorflow/optimizers/sma_sgd.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test

make SMA an isolated PR.
  setup.py
Due: none

update REAMDE
  README.md
Due: none

Make SMA alpha configurable. (#211)
  README.md
  srcs/python/kungfu/tensorflow/optimizers/sma_sgd.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test

bump version to 0.2.0 (#212)
  setup.py
Due: none

Update README.md
  README.md
Due: none

raise RuntimeError
  srcs/python/kungfu/tensorflow/v1/examples/__main__.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test

run more tests
  .gitlab-ci.yml
Due: none

trigger test
  .gitlab-ci.yml
Due: none

run compatiability test with github action
  .github/workflows/ci.yaml
Due: none

fix config
  .github/workflows/ci.yaml
Due: none

install setuptools
  .github/workflows/ci.yaml
Due: none

run: hash -r
  .github/workflows/ci.yaml
Due: none

don't update pip
  .github/workflows/ci.yaml
Due: none

try fix
  .github/workflows/ci.yaml
Due: none

run train_step and eval step separately
  srcs/python/kungfu/tensorflow/v1/examples/__main__.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test

uses: actions/setup-python@v1
  .github/workflows/ci.yaml
  .github/workflows/compatiability.yaml
Due: none

run more tests
  .github/workflows/compatiability.yaml
Due: none

test TF-2.0.0
  .github/workflows/compatiability.yaml
Due: none

migrate tests to github action
  .github/workflows/ci.yaml
  .github/workflows/compatiability.yaml
  .gitlab-ci.yml
  .travis.yml
Due: none

--build-gtest
  .github/workflows/ci.yaml
Due: none

install tensorflow
  .github/workflows/ci.yaml
Due: none

download mnist
  .github/workflows/ci.yaml
  .travis.yml
Due: none

increase timeout
  scripts/tests/run-train-tests.sh
Due: none

run train_step and eval step separately (#215)
  srcs/python/kungfu/tensorflow/v1/examples/__main__.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test

migrate tests to github action (#216)
  .github/workflows/ci.yaml
  .github/workflows/compatiability.yaml
  .gitlab-ci.yml
  .travis.yml
  scripts/tests/run-train-tests.sh
Due: none

update requirements
  .github/workflows/ci.yaml
  .gitlab-ci.yml
  .travis.yml
  tests/requirements.lint.txt
  tests/requirements.txt
Due: TF1 python3 test, TF2 python3 test

SetIsStateful for KungfuGetPeerLatencies
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test, clang format test, clang tidy

add macros for register kungfu operators
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/local.cpp
  srcs/cpp/src/tensorflow/ops/cpu/p2p_new.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/ops/local.py
  srcs/python/kungfu/tensorflow/ops/monitor.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test, clang format test, clang tidy

use macro for NCCL operators
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test, clang format test, clang tidy

add macros for register kungfu operators (#218)
  .github/workflows/ci.yaml
  .gitlab-ci.yml
  .travis.yml
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/local.cpp
  srcs/cpp/src/tensorflow/ops/cpu/p2p_new.cpp
  srcs/cpp/src/tensorflow/ops/cpu/state.cpp
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/ops/local.py
  srcs/python/kungfu/tensorflow/ops/monitor.py
  tests/requirements.lint.txt
  tests/requirements.txt
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test, clang format test, clang tidy

init StepBasedSchedule op
  .github/workflows/ci.yaml
  srcs/cpp/src/tensorflow/ops/cpu/elastic.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/test_operators.py
  tests/python/unit/test_op.py
  tests/requirements.txt
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test, clang format test, clang tidy

implement StepBasedSchedule
  srcs/cpp/src/tensorflow/ops/cpu/elastic.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/unit/test_op.py
Due: tensorflow 1.12.3, tensorflow 1.13.2, tensorflow 1.15.0, tensorflow 2.0.0, TF1 python3 test, TF2 python3 test, python format test, clang format test, clang tidy

export CMAKE_BUILD_PARALLEL_LEVEL=$(nproc)
  .github/workflows/compatiability.yaml
Due: none

fix config
  .github/workflows/compatiability.yaml
Due: none

Path conditions:
  tensorflow 1.12.3: any of: srcs/**/*
  tensorflow 1.13.2: any of: srcs/**/*
  tensorflow 1.15.0: any of: srcs/**/*
  tensorflow 2.0.0: any of: srcs/**/*
  TF1 python3 test: any of: srcs/**/*, tests/**/*
  TF2 python3 test: any of: srcs/**/*, tests/**/*
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
