Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

support disk_input for horovod benchmark
  benchmarks/system/benchmark_horovod.py
Due: none

update log
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
Due: none

support disk_input in benchmark (#331)
  benchmarks/system/benchmark_horovod.py
  benchmarks/system/benchmark_kungfu.py
  experimental/gradient_noise/prepro.py
Due: none

use `detached` instead of `not keep` in resize related APIs
  benchmarks/adaptation/adaptive_trainer.py
  benchmarks/system/benchmark_kungfu_elastic.py
  experiments/elastic/elastic.go
  experiments/tfkeras/tf-keras.go
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/go/kungfu/peer/peer.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/python/integration/test_step_based_schedule.py
Due: go format test, python format test, clang format test, clang tidy

fix
  benchmarks/adaptation/adaptive_trainer.py
Due: none

[WIP] use `detached` instead of `not keep` in resize related APIs (#332)
  benchmarks/adaptation/adaptive_trainer.py
  benchmarks/system/benchmark_kungfu_elastic.py
  experiments/elastic/elastic.go
  experiments/tfkeras/tf-keras.go
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/go/kungfu/peer/peer.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/python/integration/test_step_based_schedule.py
Due: go format test, python format test, clang format test, clang tidy

init nccl profile
  CMakeLists.txt
  configure
  setup_tensorflow.py
  srcs/cpp/include/kungfu/profile/profile.hpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

fix
  srcs/cpp/include/kungfu/profile/profile.hpp
Due: clang format test, clang tidy

data rate
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/profile/profile.hpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

support boot from MPI for debug
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/cuda.cpp
  srcs/go/kungfu/env/config.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/env/mpi.go
Due: go format test, clang format test, clang tidy

fix resize
  srcs/go/plan/cluster.go
Due: go format test

fix resize (#335)
  srcs/go/plan/cluster.go
Due: go format test

split doc (wip)
  docs/api.rst
  docs/index.rst
Due: none

fix build
  docs/index.rst
Due: none

kungfu_set_affinity
  CMakeLists.txt
  setup_tensorflow.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/affinity.cpp
  srcs/cpp/src/python/init.cpp
Due: clang format test, clang tidy

hwloc
  CMakeLists.txt
  srcs/cpp/src/affinity.cpp
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/hwloc.cpp
Due: clang format test, clang tidy

fix log
  srcs/cpp/src/numa/affinity.cpp
Due: clang format test, clang tidy

getenv("KUNGFU_USE_AFFINITY")
  srcs/cpp/src/python/init.cpp
Due: clang format test, clang tidy

fix
  CMakeLists.txt
  setup_tensorflow.py
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/hwloc.cpp
Due: clang format test, clang tidy

parse_bool_env
  srcs/cpp/src/python/init.cpp
Due: clang format test, clang tidy

support set_affinity (#337)
  CMakeLists.txt
  setup_tensorflow.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/hwloc.cpp
  srcs/cpp/src/python/init.cpp
Due: clang format test, clang tidy

bind to cpu socket
  srcs/cpp/src/numa/affinity.cpp
Due: clang format test, clang tidy

test_placement
  CMakeLists.txt
  srcs/cpp/include/kungfu/numa/placement.hpp
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/hwloc.cpp
  srcs/cpp/src/numa/placement.cpp
  tests/cpp/unit/test_placement.cpp
Due: clang format test, clang tidy

#include <cstddef>
  srcs/cpp/include/kungfu/numa/placement.hpp
Due: clang format test, clang tidy

bind to cpu socket (#338)
  CMakeLists.txt
  srcs/cpp/include/kungfu/numa/placement.hpp
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/hwloc.cpp
  srcs/cpp/src/numa/placement.cpp
  tests/cpp/unit/test_placement.cpp
Due: clang format test, clang tidy

build libkungfu_nccl
  CMakeLists.txt
Due: none

don't use global variable _default_peer in NCCLScheduler
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/src/nccl/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

add missing file
  CMakeLists.txt
Due: none

fix dep
  CMakeLists.txt
Due: none

add missing src
  CMakeLists.txt
Due: none

don't use global variable
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

support NCCL AllReduce with usr stream
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

small tensor benchmark
  tests/go/fakemodel/fakemodel.go
Due: none

build NCCL binding as a library (#340)
  CMakeLists.txt
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/nccl/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

to_nccl_op
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

NCCLController::InitOnce
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/src/nccl/controller.cpp
Due: clang format test, clang tidy

broadcast with user stream
  CMakeLists.txt
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

update NCCL binding (#341)
  CMakeLists.txt
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

add debug log
  srcs/cpp/src/numa/affinity.cpp
  srcs/cpp/src/numa/placement.cpp
Due: clang format test, clang tidy
