Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

added boolean support for KungFu
  srcs/cpp/include/kungfu/dtype.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfubase/dtype.c
  tests/python/integration/test_operators.py
Due: clang format test, clang tidy

code cleanup
  srcs/cpp/include/kungfu/dtype.h
Due: clang format test, clang tidy

added boolean support for KungFu (#256)
  srcs/cpp/include/kungfu/dtype.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfubase/dtype.c
  tests/python/integration/test_operators.py
Due: clang format test, clang tidy

add timeouts for send and receive and modify fake-adaptive-trainer to trigger issue
  srcs/go/kungfu/session.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test

remove timeout for par because it's not needed for send
  srcs/go/kungfu/session.go
Due: go format test

cleanup for distrib experiment
  experimental/net_monitoring/NetMonHook.py
Due: none

add ping if timed out
  srcs/go/kungfu/session.go
Due: go format test

hook refactoring. communicating congestion flag instead of CMA
  experimental/net_monitoring/NetMonHook.py
Due: none

debug commit
  srcs/go/kungfu/session.go
  srcs/go/kungfu/spotnik.go
Due: go format test

fix NewPingConnection
  srcs/go/kungfu/monitoring.go
  srcs/go/kungfu/session.go
  srcs/go/kungfu/spotnik.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test

fixed bug and added modular path resolution
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
Due: none

add removeWorker
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/monitoring.go
  srcs/go/kungfu/session.go
  srcs/go/kungfu/spotnik.go
  srcs/go/plan/cluster.go
  srcs/go/plan/peerlist.go
  srcs/go/rchannel/connection.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: go format test

add code to call ResizeClusterFromURL but it does not finish
  srcs/go/kungfu/session.go
  srcs/go/kungfu/spotnik.go
Due: go format test

add code for debugging
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/session.go
  srcs/go/kungfu/spotnik.go
Due: go format test

delete all kf.consensus
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/spotnik.go
Due: go format test

add removeworker to send
  srcs/go/kungfu/session.go
  srcs/go/kungfu/spotnik.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test

added deprecation warning supression
  examples/tf1_training_monitoring.py
Due: none

add code for a bad worker with tensorflow
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

add addworker to config server
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: none

add a spotnik specific all_reduce
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/libkungfu-comm/spotnik.go
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: go format test, python format test, clang format test, clang tidy

add spotnik ops to ops
  srcs/python/kungfu/tensorflow/ops/__init__.py
Due: python format test

fix spotnik_group_all_reduce
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

add filtering of None
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

fix issues with None in spotnik_group_all_reduce
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

remove need for function call
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

fix legacy resize hook
  scripts/tests/run-elastic-test.sh
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/legacy.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/plan/cluster.go
  srcs/go/plan/cluster_test.go
  srcs/go/plan/peerlist.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: go format test, python format test, clang format test, clang tidy

fix legacy resize hook (#257)
  scripts/tests/run-elastic-test.sh
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/legacy.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/plan/cluster.go
  srcs/go/plan/cluster_test.go
  srcs/go/plan/peerlist.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: go format test, python format test, clang format test, clang tidy

add succeess confirmation for pair
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/p2p_new.cpp
  srcs/go/libkungfu-comm/spotnik.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/p2p.py
Due: go format test, python format test, clang format test, clang tidy

add notification of internal config
  debug/add_worker/add_worker.go
  debug/remove_worker/remove_worker.go
  srcs/go/kungfu/kungfu.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
Due: go format test

update debug log
  debug/kungfu-init/kungfu-init.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/session.go
  srcs/go/kungfu/spotnik.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test

removed print messages from optimizer
  experimental/net_monitoring/CustomAdaSGD.py
Due: none

fixed bug for updating congestion trigger
  experimental/net_monitoring/NetMonHook.py
Due: none

cherrypick import fix
  srcs/go/kungfu/monitoring.go
  srcs/go/plan/id.go
  srcs/go/plan/peerlist.go
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/testing.go
  srcs/go/utils/buildinfo.go
Due: go format test

cherrypick import fix (#258)
  srcs/go/kungfu/monitoring.go
  srcs/go/plan/id.go
  srcs/go/plan/peerlist.go
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/testing.go
  srcs/go/utils/buildinfo.go
Due: go format test

merge master (#259)
  scripts/tests/run-elastic-test.sh
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/dtype.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/go/kungfu/legacy.go
  srcs/go/kungfubase/dtype.c
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/plan/cluster.go
  srcs/go/plan/cluster_test.go
  srcs/go/plan/id.go
  srcs/go/plan/peerlist.go
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/testing.go
  srcs/go/utils/buildinfo.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  tests/python/integration/test_operators.py
Due: go format test, python format test, clang format test, clang tidy

adjust for evaluation on azure
  srcs/go/kungfu/session.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: go format test, python format test

set timeout to 30s
  srcs/go/kungfu/session.go
Due: go format test

set timout to 1 min
  srcs/go/kungfu/session.go
Due: go format test

add timing of broadcast
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

adjust optimizer to Spotnik
  srcs/python/kungfu/tensorflow/optimizers/async_sgd.py
  srcs/python/kungfu/tensorflow/optimizers/sma_sgd.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: python format test

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
