Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

dropped
  deps/ms-elastic/examples/example-elastic-worker.py
  srcs/python/kungfu/python/elastic/__init__.py
Due: python format test

log_pid
  srcs/cpp/src/peer.cpp
Due: clang format test, clang tidy

init
  srcs/python/kungfu/python/__init__.py
Due: python format test

log
  srcs/go/kungfu/runner/watch.go
  srcs/go/utils/utils.go
Due: go format test

check error
  deps/ms-elastic/src/stdml/data/index.cpp
Due: none

comment
  srcs/cpp/include/kungfu/peer.hpp
Due: clang format test, clang tidy

log
  srcs/go/kungfu/runner/watch.go
Due: go format test

log
  srcs/python/kungfu/python/elastic_state.py
Due: python format test

add plain install (without tensorflow)
  setup.py
  setup_plain.py
Due: none

remove tensorflow compile options
  CMakeLists.txt
Due: none

hack to only use one file
  deps/ms-elastic/src/stdml/data/tf_writer.cpp
  srcs/cpp/src/python/elastic.cpp
Due: clang format test, clang tidy

do not shuffle sequence
  deps/ms-elastic/src/stdml/data/state2.cpp
Due: none

link the right setup
  setup.py
  setup_plain.py
Due: none

remove one too many optimizer
  srcs/python/kungfu/tensorflow/optimizers/core.py
Due: python format test

Update tests.cmake
  srcs/cmake/tests.cmake
Due: none

remove one too many optimizer (#364)
  srcs/cmake/tests.cmake
  srcs/python/kungfu/tensorflow/optimizers/core.py
Due: python format test

link mindspore setup
  setup.py
Due: none

fix broken link
  setup.py
Due: none

set flag
  setup_mindspore.py
Due: none

Update README.md
  README.md
Due: none

tiny benchmark
  tests/go/fakemodel/fakemodel.go
  tests/go/fakemodel/tiny.go
Due: none

Update fakemodel.go
  tests/go/fakemodel/fakemodel.go
Due: none

add a tiny benchmark (#369)
  tests/go/fakemodel/fakemodel.go
  tests/go/fakemodel/tiny.go
Due: none

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
