Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

waitSSH
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
Due: none

fix PATH
  experiments/cmd/kungfu-run-train-experiments/kungfu-run-train-experiments.go
  experiments/tfkeras/tf-keras.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

fix PATH
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
Due: none

add profiling log
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/job.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/runner/flags.go
  srcs/python/kungfu/_utils.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: go format test, python format test

more log
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

scaling experiments (#287)
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
  benchmarks/scaling/generate-schedule.py
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/cmd/kungfu-run-train-experiments/cluster.go
  experiments/cmd/kungfu-run-train-experiments/kungfu-run-train-experiments.go
  experiments/elastic/elastic.go
  experiments/tfkeras/tf-keras.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/job.go
  srcs/go/job/proc.go
  srcs/go/kungfu/env/envs.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/kungfu/runtime/params.go
  srcs/go/plan/hostfile/hostfile.go
  srcs/go/plan/hostfile/hostfile_test.go
  srcs/go/plan/hostspec.go
  srcs/go/utils/runner/remote/remote.go
  srcs/python/kungfu/_utils.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
  tests/go/configserver/client.go
Due: go format test, python format test

SetTree
  configure
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/adaptation.cpp
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/plan/graph.go
  srcs/go/plan/graph_test.go
Due: go format test, clang format test, clang tidy

test set_tree
  scripts/list-deps.sh
  scripts/tests/run-op-tests.sh
  srcs/cpp/src/tensorflow/ops/cpu/adaptation.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_set_tree.py
Due: python format test, clang format test, clang tidy

measure latency
  tests/python/integration/test_set_tree.py
Due: none

simplify
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/cmd/kungfu-run-train-experiments/kungfu-run-train-experiments.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

warmup
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/cmd/kungfu-run-train-experiments/kungfu-run-train-experiments.go
  tests/python/integration/test_set_tree.py
Due: none

detached
  benchmarks/scaling/generate-schedule.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/peer/peer.go
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/ext.py
  tests/python/unit/test_op.py
Due: go format test, python format test, clang format test, clang tidy

simplify
  srcs/go/kungfu/session/session.go
Due: go format test

new APIs (#288)
  benchmarks/scaling/generate-schedule.py
  configure
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/cmd/kungfu-run-train-experiments/kungfu-run-train-experiments.go
  scripts/list-deps.sh
  scripts/tests/run-op-tests.sh
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/adaptation.cpp
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/session/adaptation.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/graph.go
  srcs/go/plan/graph_test.go
  srcs/go/utils/runner/remote/remote.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_set_tree.py
  tests/python/unit/test_op.py
Due: go format test, python format test, clang format test, clang tidy

fix flags
  srcs/go/utils/runner/remote/remote.go
Due: go format test

add log
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
Due: none

log
  srcs/python/kungfu/_utils.py
Due: python format test

sync step
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
Due: none

log
  benchmarks/scaling/debug_hooks.py
Due: none

_sync_state_op
  benchmarks/scaling/debug_hooks.py
Due: none

check in experiment code (#289)
  benchmarks/scaling/benchmark_kungfu_scaling.py
  benchmarks/scaling/debug_hooks.py
  srcs/go/utils/runner/remote/remote.go
  srcs/python/kungfu/_utils.py
Due: go format test, python format test

move Proc to a separate package
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/job/job.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/proc/proc.go
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

move job to kungfu folder
  experiments/elastic/elastic.go
  experiments/tfkeras/tf-keras.go
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/job/cuda_visible_device.go
  srcs/go/kungfu/job/cuda_visible_device_test.go
  srcs/go/kungfu/job/gpu_resource.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

move cmake to srcs folder
  CMakeLists.txt
  srcs/cmake/Findstdtracer.cmake
  srcs/cmake/cgo.cmake
  srcs/cmake/go.cmake
  srcs/cmake/nccl.cmake
  srcs/cmake/tests.cmake
  srcs/cmake/tf-op.cmake
Due: none

move logo to docs folder
  README.md
  docs/kungfu-logo.png
Due: none

simplify build dependency (#290)
  CMakeLists.txt
  README.md
  docs/kungfu-logo.png
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  experiments/elastic/elastic.go
  experiments/tfkeras/tf-keras.go
  srcs/cmake/Findstdtracer.cmake
  srcs/cmake/cgo.cmake
  srcs/cmake/go.cmake
  srcs/cmake/nccl.cmake
  srcs/cmake/tests.cmake
  srcs/cmake/tf-op.cmake
  srcs/go/cmd/kungfu-distribute/kungfu-distribute.go
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/cmd/kungfu-rrun/rrun.go
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/job/cuda_visible_device.go
  srcs/go/kungfu/job/cuda_visible_device_test.go
  srcs/go/kungfu/job/gpu_resource.go
  srcs/go/kungfu/job/job.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/kungfu/runner/watch.go
  srcs/go/proc/proc.go
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
  srcs/go/utils/runner/remote/remote.go
Due: go format test

fix chdir
  srcs/go/proc/proc.go
Due: go format test

fix chdir (#291)
  srcs/go/proc/proc.go
Due: go format test

pass ctx to cmd
  srcs/go/proc/proc.go
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
  tests/go/cmd/kungfu-cluster-manager-example/cluster.go
Due: go format test

use value instead of pointer
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
  srcs/go/proc/proc.go
Due: go format test

fix parse env
  srcs/go/proc/proc.go
  srcs/go/proc/proc_test.go
Due: go format test

parse public_addr from hostfile
  srcs/go/plan/hostfile/hostfile.go
  srcs/go/plan/hostfile/hostfile_test.go
Due: go format test

cleanup (#292)
  experiments/cmd/kungfu-remote-install/kungfu-remote-install.go
  srcs/go/plan/hostfile/hostfile.go
  srcs/go/plan/hostfile/hostfile_test.go
  srcs/go/proc/proc.go
  srcs/go/proc/proc_test.go
  srcs/go/utils/runner/local/hack.go
  srcs/go/utils/runner/local/local.go
  tests/go/cmd/kungfu-cluster-manager-example/cluster.go
Due: go format test

fix remote runner
  srcs/go/utils/ssh/ssh.go
Due: go format test

fix remote runner (#293)
  srcs/go/utils/ssh/ssh.go
Due: go format test

wait new runner (#294)
  srcs/go/kungfu/config/config.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/rchannel/client/client.go
  srcs/go/utils/utils.go
  srcs/go/utils/utils_test.go
Due: go format test

pip3 install -U pip
  .github/Dockerfile.base
  srcs/go/kungfu/peer/peer.go
Due: go format test

make runner handle ping
  srcs/go/kungfu/runner/handler.go
Due: go format test

test wait
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/rchannel/client/client.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
Due: go format test

wait new runner (#294) (#295)
  .github/Dockerfile.base
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/config/config.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/handler.go
  srcs/go/rchannel/client/client.go
  srcs/go/utils/utils.go
  srcs/go/utils/utils_test.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
Due: go format test

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
