Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

.gitlab-ci.yml:

# https://docs.gitlab.com/ce/ci/yaml/README.html


stages:
- lint

go format test:
  stage: lint
  image: alpine:3.9

  before_script:
  - apk update
  - apk add git go

  script:
  - gofmt -w .
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.go

python format test:
  stage: lint
  # image: alpine:3.9
  image: ubuntu:bionic

  before_script:
  #- apk update
  #- apk add git python3
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt

  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.py

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt install -y clang-format

  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  # TODO: use newer ubuntu image
  # image: ubuntu:disco

  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq

  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check
  # - git diff

  only:
    changes:
    - srcs/**/*.h
    - srcs/**/*.hpp
    - srcs/**/*.cpp

fix include_dirs (#318)
  setup_pytorch.py
Due: none

Reimplement config server using REST style API (#319)
  .github/Dockerfile.kungfu
  benchmarks/adaptation/gen-compose.py
  experiments/cmd/kungfu-run-scaling-experiments/kungfu-run-scaling-experiments.go
  srcs/go/cmd/kungfu-config-server/kungfu-config-server.go
  srcs/go/kungfu/elastic/configserver/configserver.go
  srcs/go/kungfu/peer/legacy.go
  srcs/go/utils/utils.go
  tests/go/cmd/kungfu-cluster-manager-example/kungfu-cluster-manager-example.go
  tests/go/cmd/kungfu-config-server-example/kungfu-config-server-example.go
  tests/go/configserver/client.go
Due: go format test

checkpoint; compiling but not working
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/collective.py
Due: python format test, clang format test, clang tidy

new resize API
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/go/kungfu/peer/peer.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: go format test, python format test, clang format test, clang tidy

finish allgather implementation for pytorch
  srcs/cpp/src/torch/module_cpu.cpp
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/python/kungfu/torch/ops/clib.py
  srcs/python/kungfu/torch/ops/collective.py
Due: python format test, clang format test, clang tidy

add a simple test
  .github/workflows/pytorch.yaml
  tests/python/integration/test_torch_ops.py
Due: none

fix build
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
Due: clang format test, clang tidy

fix shape
  srcs/python/kungfu/torch/ops/collective.py
  tests/python/integration/test_torch_ops.py
Due: python format test

fix shape (#321)
  srcs/python/kungfu/torch/ops/collective.py
  tests/python/integration/test_torch_ops.py
Due: python format test

test_device
  tests/python/integration/test_torch_ops.py
Due: none

remove unnecessary call
  srcs/cpp/src/torch/ops/cuda/collective.cpp
Due: clang format test, clang tidy

fix wrong variable
  srcs/cpp/src/torch/ops/cuda/collective.cpp
Due: clang format test, clang tidy

Pytorch allgather support (#320)
  .github/workflows/pytorch.yaml
  srcs/cpp/src/torch/module_cpu.cpp
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/clib.py
  srcs/python/kungfu/torch/ops/collective.py
  tests/python/integration/test_torch_ops.py
Due: python format test, clang format test, clang tidy

install_requires += deprecation
  setup_tensorflow.py
Due: none

fix
  .github/Dockerfile.kungfu
  setup_tensorflow.py
Due: none

fix
  .github/Dockerfile.kungfu
  .github/workflows/ci.yaml
Due: none

squash commits
  CMakeLists.txt
  q
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/ncclv2/controller.hpp
  srcs/cpp/include/kungfu/ncclv2/helper.hpp
  srcs/cpp/include/kungfu/ncclv2/scheduler.hpp
  srcs/cpp/include/kungfu/tensorflow/gpu_helpers.hpp
  srcs/cpp/include/kungfu/utils/channel.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/ncclv2/controller.cpp
  srcs/cpp/src/ncclv2/helper.cpp
  srcs/cpp/src/ncclv2/scheduler.cpp
  srcs/cpp/src/python/init_nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpuv2/allreduce.cpp
  srcs/cpp/src/tensorflow/ops/gpuv2/scheduler.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/nccl.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test, clang format test, clang tidy

test new resize API
  scripts/tests/run-tensorflow-resize-test.sh
  srcs/go/cmd/kungfu-config-server/kungfu-config-server.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_tensorflow_resize.py
Due: go format test, python format test

fix
  scripts/tests/run-tensorflow-resize-test.sh
  srcs/go/cmd/kungfu-config-server/kungfu-config-server.go
  srcs/go/kungfu/elastic/configserver/configserver.go
Due: go format test

new resize API (#322)
  .github/workflows/ci.yaml
  scripts/tests/run-tensorflow-resize-test.sh
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/go/cmd/kungfu-config-server/kungfu-config-server.go
  srcs/go/kungfu/elastic/configserver/configserver.go
  srcs/go/kungfu/peer/peer.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/tensorflow/hooks/elastic.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_tensorflow_resize.py
Due: go format test, python format test, clang format test, clang tidy

wip
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/src/nccl/helper.cpp
  srcs/cpp/src/nccl/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

NCCLThread
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/include/kungfu/utils/channel.hpp
  srcs/cpp/include/kungfu/utils/waiter.hpp
  srcs/cpp/src/nccl/scheduler.cpp
Due: clang format test, clang tidy

use NCCLThread in LinearExecutor
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/src/nccl/scheduler.cpp
Due: clang format test, clang tidy

cleanup
  tests/cpp/unit/test_operations.cpp
  tests/cpp/unit/testing.hpp
Due: none

rm
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/src/nccl/scheduler.cpp
Due: clang format test, clang tidy

remove order_group
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/libkungfu-comm/ordergroup.go
  srcs/go/ordergroup/ordergroup.go
  srcs/go/ordergroup/ordergroup_test.go
  tests/cpp/unit/test_order_group.cpp
Due: go format test, clang format test, clang tidy

use a dedicated thread for NCCL operations (#317) (#323)
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/include/kungfu/utils/channel.hpp
  srcs/cpp/include/kungfu/utils/waiter.hpp
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/nccl/helper.cpp
  srcs/cpp/src/nccl/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/go/libkungfu-comm/ordergroup.go
  srcs/go/ordergroup/ordergroup.go
  srcs/go/ordergroup/ordergroup_test.go
  tests/cpp/unit/test_operations.cpp
  tests/cpp/unit/test_order_group.cpp
  tests/cpp/unit/testing.hpp
Due: go format test, clang format test, clang tidy

make API consistent with paper
  srcs/cpp/src/tensorflow/ops/cpu/elastic.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_tensorflow_resize.py
Due: python format test, clang format test, clang tidy

make API consistent with paper (#324)
  srcs/cpp/src/tensorflow/ops/cpu/elastic.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/python/integration/test_tensorflow_resize.py
Due: python format test, clang format test, clang tidy

reorgnise code
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/monitoring.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/libkungfu-comm/monitoring.go
Due: go format test

test
  scripts/tests/run-tensorflow-throughput-monitoring-test.sh
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/monitoring.go
  srcs/go/libkungfu-comm/collective.go
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  tests/python/integration/test_tensorflow_throughput_monitoring.py
Due: go format test, python format test

new operator :: egress_rates
  scripts/tests/run-tensorflow-throughput-monitoring-test.sh
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/monitoring.cpp
  srcs/go/kungfu/base/vector.go
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/monitoring.go
  srcs/go/libkungfu-comm/monitoring.go
  srcs/go/monitor/counters.go
  srcs/go/monitor/monitor.go
  srcs/go/monitor/server.go
  srcs/go/rchannel/client/client.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/monitor.py
  tests/python/integration/test_tensorflow_throughput_monitoring.py
Due: go format test, python format test, clang format test, clang tidy

disable warning log
  scripts/tests/run-tensorflow-throughput-monitoring-test.sh
  tests/python/integration/test_tensorflow_throughput_monitoring.py
Due: none

runBuiltinConfigServer
  scripts/tests/run-tensorflow-resize-test.sh
  srcs/go/cmd/kungfu-run/app/builtin-config-server.go
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  tests/python/integration/test_tensorflow_resize.py
Due: go format test

new monitoring API: egress_rates (#325)
  scripts/tests/run-tensorflow-throughput-monitoring-test.sh
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/monitoring.cpp
  srcs/go/kungfu/base/vector.go
  srcs/go/kungfu/session/adaptiveStrategies.go
  srcs/go/kungfu/session/monitoring.go
  srcs/go/kungfu/session/session.go
  srcs/go/kungfu/session/strategy.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/libkungfu-comm/monitoring.go
  srcs/go/monitor/counters.go
  srcs/go/monitor/monitor.go
  srcs/go/monitor/server.go
  srcs/go/rchannel/client/client.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/ops/monitor.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  tests/python/integration/test_tensorflow_throughput_monitoring.py
Due: go format test, python format test, clang format test, clang tidy

update MonitorGradientNoiseScaleOptimizer
  examples/policies/gns_policy/gns_policy.py
  examples/policies/gns_policy/run_gns_policy_example.sh
  examples/policies/gns_policy/train.py
  srcs/python/kungfu/tensorflow/optimizers/grad_noise_scale.py
  srcs/python/kungfu/tensorflow/v1/helpers/utils.py
Due: python format test

test error check
  srcs/cpp/src/tensorflow/ops/cpu/testing.cpp
  srcs/python/kungfu/tensorflow/ops/testing.py
  tests/python/integration/test_tensorflow_error.py
Due: python format test, clang format test, clang tidy

test try_catch_error
  srcs/cpp/src/tensorflow/ops/cpu/testing.cpp
  tests/python/integration/test_tensorflow_error.py
  tests/python/unit/test_tensorflow_error.py
Due: clang format test, clang tidy

wip
  examples/policies/gns_policy/run_gns_policy_example.sh
  examples/policies/gns_policy/train.py
Due: none

wip
  examples/policies/gns_policy/gns_policy.py
  examples/policies/gns_policy/run_gns_policy_example.sh
  examples/policies/gns_policy/train.py
Due: none
