Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

run github action on PR (#352)
  .github/workflows/ci.yaml
  .github/workflows/cluster.yaml
  .github/workflows/compatiability.yaml
  .github/workflows/docker.yaml
  .github/workflows/pytorch.yaml
Due: none

format go code
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/utils/iostream/iostream.go
  srcs/go/utils/iostream/stdio.go
Due: go format test

wip: support init from json config
  experimental/init_from_json.py
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/env/config_json.go
  srcs/go/kungfu/env/config_json_test.go
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/python/__init__.py
Due: go format test, python format test, clang format test, clang tidy

change receive down signal
  examples/Failure_recovery_examples/eager.py
  examples/Failure_recovery_examples/tf1_mnist_session.py
  examples/Failure_recovery_examples/tf2_mnist_keras.py
  srcs/go/cmd/kungfu-recovery/monitor.go
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/monitor.go
  srcs/go/kungfu/runner/monitored.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/utils/iostream/iostream.go
  srcs/go/utils/iostream/stdio.go
  srcs/go/utils/runner/local/local.go
Due: go format test

Update monitor_proposal.md
  docs/monitor_proposal.md
Due: none

Update local.go
  srcs/go/utils/runner/local/local.go
Due: go format test

parse config
  experimental/init_from_json.py
  experimental/init_from_json/main.py
  experimental/init_from_json/run.sh
  srcs/go/kungfu/env/config_json.go
Due: go format test

fix
  experimental/init_from_json/main.py
  experimental/init_from_json/run.sh
  srcs/go/kungfu/env/config_json.go
  srcs/python/kungfu/python/__init__.py
Due: go format test, python format test

add a configure flag: --disable-cxx11-abi
  CMakeLists.txt
  configure
Due: none

add a configure flag: --disable-cxx11-abi (#354)
  CMakeLists.txt
  configure
Due: none

Recover from last save epoch number
  examples/Failure_recovery_examples/eager.py
  examples/Failure_recovery_examples/tf1_mnist_session.py
  examples/Failure_recovery_examples/tf2_mnist_keras.py
Due: none

Update simple.go
  srcs/go/kungfu/runner/simple.go
Due: go format test

log duration
  srcs/go/kungfu/runner/watch.go
Due: go format test

failure_recovery_update
  examples/Failure_recovery_examples/eager.py
  examples/Failure_recovery_examples/tf1_mnist_session.py
  examples/Failure_recovery_examples/tf2_mnist_keras.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/monitor.go
  srcs/go/kungfu/runner/monitored.go
  srcs/go/kungfu/runner/simple.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/cmds.go
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/cmd/__init__.py
  tests/go/cmd/kungfu-cluster-runner-example/cluster.go
  tests/go/cmd/kungfu-cluster-runner-example/ippool.go
  tests/go/cmd/kungfu-cluster-runner-example/kungfu-cluster-runner-example.go
Due: go format test, python format test, clang format test, clang tidy

failure_recovery_update
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/monitored.go
  srcs/go/kungfu/runner/monitorserver/monitor.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/cmds.go
  srcs/go/libkungfu-comm/main.go
  tests/go/cmd/kungfu-cluster-runner-example/kungfu-cluster-runner-example.go
Due: go format test

Delete monitor.go
  srcs/go/kungfu/runner/monitor.go
Due: go format test

Update session.go
  srcs/go/kungfu/session/session.go
Due: go format test

rename symbols
  srcs/go/kungfu/runner/monitored.go
  srcs/go/kungfu/runner/monitorserver/monitor.go
Due: go format test

change -mnt to -auto-recover
  examples/Failure_recovery_examples/eager.py
  examples/Failure_recovery_examples/tf1_mnist_session.py
  examples/Failure_recovery_examples/tf2_mnist_keras.py
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/monitored.go
  srcs/go/kungfu/runner/monitorserver/monitor.go
  tests/go/cmd/kungfu-cluster-runner-example/kungfu-cluster-runner-example.go
Due: go format test

more rename
  srcs/go/kungfu/runner/monitored.go
Due: go format test

Update libkungfu
  srcs/go/libkungfu-comm/cmds.go
  srcs/go/libkungfu-comm/send.go
Due: go format test

add nccl all-gather
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

build whl
  azure-pipelines.yml
  setup_tensorflow.py
Due: none

fix
  setup_tensorflow.py
Due: none

init release action
  .github/workflows/release.yaml
Due: none

fix registry
  azure-pipelines.yml
Due: none

build for mac
  .github/workflows/release.yaml
  azure-pipelines.yml
Due: none

Failure recovery. (#350)
  docs/failure_detection_architecture.png
  docs/failure_detection_implementation.png
  docs/failures_definition.png
  docs/monitor_proposal.md
  examples/Failure_recovery_examples/eager.py
  examples/Failure_recovery_examples/tf1_mnist_session.py
  examples/Failure_recovery_examples/tf2_mnist_keras.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/go/cmd/kungfu-run/app/kungfu-run.go
  srcs/go/kungfu/runner/flags.go
  srcs/go/kungfu/runner/monitored.go
  srcs/go/kungfu/runner/monitorserver/monitor.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/send.go
  srcs/python/kungfu/cmd/__init__.py
  tests/go/cmd/kungfu-cluster-runner-example/cluster.go
  tests/go/cmd/kungfu-cluster-runner-example/ippool.go
  tests/go/cmd/kungfu-cluster-runner-example/kungfu-cluster-runner-example.go
Due: go format test, python format test, clang format test, clang tidy

add nccl all-gather (#355)
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

cleanup cmake
  CMakeLists.txt
  setup.py
  setup_python.py
  srcs/python/kungfu_meta/__init__.py
  x
Due: python format test

rm
  x
Due: none

rm
  experimental/rl-example/rl_agent.py
  experimental/rl-example/rl_run.sh
  experimental/rl-example/rlzoo.py
  experimental/rl-example/run.sh
Due: none

add subset_all_reduce and queue (#356)
  experimental/queue/.gitignore
  experimental/queue/queue-example/main.go
  experimental/queue/queue_example.py
  experimental/queue/run.sh
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/queue.cpp
  srcs/go/kungfu/peer/peer.go
  srcs/go/kungfu/peer/router.go
  srcs/go/kungfu/session/allreduce.go
  srcs/go/kungfu/session/queue.go
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/queue.go
  srcs/go/rchannel/connection/message.go
  srcs/go/rchannel/handler/queue.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/ops/queue.py
Due: go format test, python format test, clang format test, clang tidy

support nccl subset allreduce
  CMakeLists.txt
  srcs/cmake/tests.cmake
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/nccl/helper.hpp
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/nccl/helper.cpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/session.cpp
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/collective.go
  tests/cpp/integration/cuda_vector.hpp
  tests/cpp/integration/test_nccl_helper.cpp
Due: go format test, clang format test, clang tidy

simplify
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

use singleton for kungfu::NCCLHelper
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/src/python/init_nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

support nccl subset allreduce (#357)
  CMakeLists.txt
  srcs/cmake/tests.cmake
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/gpu_collective.hpp
  srcs/cpp/include/kungfu/nccl/helper.hpp
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/nccl/helper.cpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/init_nccl.cpp
  srcs/cpp/src/session.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/go/kungfu/session/session.go
  srcs/go/libkungfu-comm/collective.go
  tests/cpp/integration/cuda_vector.hpp
  tests/cpp/integration/test_nccl_helper.cpp
Due: go format test, clang format test, clang tidy

use singleton instead of extern variable
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/include/kungfu/python/c_api.h
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/python/c_api.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/adaptation.cpp
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/cpp/src/tensorflow/ops/cpu/local.cpp
  srcs/cpp/src/tensorflow/ops/cpu/monitoring.cpp
  srcs/cpp/src/tensorflow/ops/cpu/p2p_new.cpp
  srcs/cpp/src/tensorflow/ops/cpu/peer_to_peer.cpp
  srcs/cpp/src/tensorflow/ops/cpu/queue.cpp
  srcs/cpp/src/tensorflow/ops/cpu/topology.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
Due: clang format test, clang tidy

update error message
  srcs/cpp/include/kungfu/utils/error_checker.hpp
Due: clang format test, clang tidy

fix gpu_collective::new_group
  srcs/cpp/src/nccl/gpu_collective.cpp
  tests/cpp/integration/test_nccl_helper.cpp
Due: clang format test, clang tidy

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
