Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

Fix format
  srcs/python/kungfu/tensorflow/initializer/keras.py
Due: python format test

try to fix lint error
  srcs/python/kungfu/tensorflow/initializer/keras.py
Due: python format test

clean
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

Adaptive SGD that combines model averaging and S-SGD. (#221)
  README.md
  examples/tf1_mnist_session.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  srcs/python/kungfu/tensorflow/optimizers/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/ada_sgd.py
Due: python format test

wait termination
  srcs/go/cmd/kungfu-run/kungfu-run.go
Due: go format test

add horovod to perf benchmark (#232)
  CMakeLists.txt
  cmake/Findstdtracer.cmake
  cmake/tests.cmake
  configure
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/trace.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/model_sizes.py
  tests/cpp/integration/fake_mpi_trainer.cpp
  tests/cpp/integration/fake_trainer.hpp
  tests/cpp/integration/testing.hpp
Due: go format test, python format test, clang format test, clang tidy

support NVLink
  .gitignore
  CMakeLists.txt
  configure
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_gpu.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/go/job/job.go
  srcs/go/kungfurun/flags.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: go format test, python format test, clang format test, clang tidy

local rank
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/monitoring.go
  srcs/go/kungfu/session.go
  srcs/go/kungfurun/watch.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/peerlist.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: go format test, python format test, clang format test, clang tidy

fix
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/cuda_visible_device.go
  srcs/go/job/cuda_visible_device_test.go
  srcs/go/job/job.go
Due: go format test, clang format test, clang tidy

fix include
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

fix build
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

fix benchmark
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

get_cuda_index
  CMakeLists.txt
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/cuda.cpp
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test, clang format test, clang tidy

remove unused import
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test

support NVLink (#233)
  .gitignore
  CMakeLists.txt
  configure
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/cuda.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_gpu.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/cuda_visible_device.go
  srcs/go/job/cuda_visible_device_test.go
  srcs/go/job/job.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfu/monitoring.go
  srcs/go/kungfu/session.go
  srcs/go/kungfurun/flags.go
  srcs/go/kungfurun/watch.go
  srcs/go/libkungfu-comm/main.go
  srcs/go/plan/peerlist.go
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: go format test, python format test, clang format test, clang tidy

call NCCL directly for single operation
  benchmarks/system/benchmark_kungfu.py
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/python/init_gpu.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test, clang format test, clang tidy

move scheduler operator to cpu folder
  srcs/cpp/src/tensorflow/ops/cpu/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

fix build
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_gpu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/scheduler.cpp
Due: clang format test, clang tidy

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

handle None
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test

--fuse default=False
  benchmarks/system/benchmark_kungfu.py
Due: none

atexit.register(_finalize_python_lib)
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/python/kungfu/ext.py
Due: python format test, clang format test, clang tidy

fix build
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
Due: clang format test, clang tidy

trace
  CMakeLists.txt
  cmake/Findstdtracer.cmake
  configure
  setup.py
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/trace.cpp
Due: clang format test, clang tidy

make it work
  benchmarks/system/benchmark_kungfu.py
Due: none

simplify and rename
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init_gpu.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/trace.cpp
  tests/cpp/integration/fake_agent.cpp
  tests/cpp/integration/fake_in_proc_trainer.cpp
  tests/cpp/integration/fake_kungfu_trainer.cpp
  tests/cpp/integration/fake_mpi_trainer.cpp
  tests/cpp/integration/fake_nccl_trainer.cpp
Due: clang format test, clang tidy

revert
  benchmarks/system/benchmark_kungfu.py
Due: none

update comment
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

enable trace (#234)
  CMakeLists.txt
  CONTRIBUTING.md
  benchmarks/system/benchmark_kungfu.py
  cmake/Findstdtracer.cmake
  configure
  setup.py
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_gpu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/trace.cpp
  srcs/python/kungfu/ext.py
  srcs/python/kungfu/tensorflow/ops/collective.py
  tests/cpp/integration/fake_agent.cpp
  tests/cpp/integration/fake_in_proc_trainer.cpp
  tests/cpp/integration/fake_kungfu_trainer.cpp
  tests/cpp/integration/fake_mpi_trainer.cpp
  tests/cpp/integration/fake_nccl_trainer.cpp
Due: python format test, clang format test, clang tidy

update trace
  cmake/Findstdtracer.cmake
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

TRACE_SCOPE("stream->BlockHostUntilDone");
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

fix build
  srcs/cpp/include/kungfu/utils/trace.hpp
Due: clang format test, clang tidy

arrive order
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/go/libkungfu-comm/ordergroup.go
  srcs/go/ordergroup/ordergroup.go
  tests/cpp/unit/test_order_group.cpp
Due: go format test, clang format test, clang tidy

spin_wait
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

cleanup
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

make horovod use GPU
  benchmarks/system/benchmark_horovod.py
Due: none

cleanup
  srcs/cpp/src/tensorflow/ops/cpu/scheduler.cpp
Due: clang format test, clang tidy

simplify
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/scheduler.cpp
Due: clang format test, clang tidy

optimize NCCL scheduler (#237)
  benchmarks/system/benchmark_horovod.py
  cmake/Findstdtracer.cmake
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/utils/trace.hpp
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/tensorflow/ops/cpu/scheduler.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/go/libkungfu-comm/ordergroup.go
  srcs/go/ordergroup/ordergroup.go
  tests/cpp/unit/test_order_group.cpp
Due: go format test, clang format test, clang tidy

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
