Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

fix log dir
  srcs/go/kungfurun/watch.go
  srcs/go/utils/runner/local/local.go
Due: go format test

use current config if update failed
  srcs/go/kungfu/kungfu.go
Due: go format test

cleanup import
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  tests/python/integration/test_elastic_estimator.py
Due: python format test, clang format test, clang tidy

reimplement GPUPool
  srcs/go/job/gpu_resource.go
Due: go format test

fix GPUPool
  srcs/go/job/gpu_resource.go
Due: go format test

update test server and client
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
  tests/go/cmd/kungfu-peerlist-test/kungfu-peerlist-test.go
Due: none

update tests
  srcs/go/kungfu/kungfu.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test

pass config server URL from flag
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/job/job.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfubase/envs.go
  srcs/go/kungfurun/flags.go
  srcs/go/plan/config.go
Due: go format test, clang format test, clang tidy

update test
  srcs/go/kungfu/kungfu.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test

syncStep
  srcs/go/kungfubase/vector.go
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test

make clusterVersion an internal state
  srcs/cpp/include/kungfu.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/tensorflow/ops/cpu/control.cpp
  srcs/go/kungfu/kungfu.go
  srcs/go/libkungfu-comm/adapt.go
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/adapt.py
  tests/go/cmd/kungfu-fake-adaptive-trainer/kungfu-fake-adaptive-trainer.go
Due: go format test, python format test, clang format test, clang tidy

fix c++ tests
  srcs/go/kungfu/kungfu.go
Due: go format test

rename
  srcs/go/cmd/kungfu-modelarts-launcher/kungfu-modelarts-launcher.go
  srcs/go/job/job.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfubase/envs.go
  srcs/go/kungfurun/handler.go
  srcs/go/kungfurun/watch.go
  srcs/go/plan/config.go
Due: go format test

fix build
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfurun/flags.go
Due: go format test

exit with error code
  srcs/go/kungfurun/watch.go
Due: go format test

fix example
  benchmarks/adaptation/adaptive_trainer.py
  srcs/cpp/src/tensorflow/ops/cpu/collective.cpp
  srcs/python/kungfu/tensorflow/ops/collective.py
Due: python format test, clang format test, clang tidy

fix test
  tests/python/integration/test_step_based_schedule.py
Due: none

remove ElasticSyncSGDOptimizer
  srcs/python/kungfu/tensorflow/optimizers/__init__.py
  srcs/python/kungfu/tensorflow/optimizers/elastic.py
  tests/python/integration/test_elastic_optimizer.py
Due: python format test

remove a test
  .github/workflows/ci.yaml
Due: none

fix KungFuElasticTrainHook
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: python format test

remove unused import
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

remove unused import
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: python format test

-port-range 20001-20016
  benchmarks/adaptation/bench-adaptation.sh
Due: none

PORT_RANGE=20001-20016
  benchmarks/adaptation/bench-adaptation.sh
  scripts/tests/run-optimizer-tests.sh
Due: none

update new example
  experimental/estimator_elastic.py
  srcs/go/kungfu/kungfu.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  srcs/python/kungfu/tensorflow/hooks/elastic.py
Due: go format test, python format test

update debug log
  experimental/estimator_elastic.py
  srcs/go/log/logger.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: go format test, python format test

more debug
  experimental/estimator_elastic.py
  srcs/cpp/include/kungfu.h
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/src/kungfu.cpp
  srcs/cpp/src/python/init.cpp
  srcs/go/kungfu/kungfu.go
  srcs/go/libkungfu-comm/main.go
  srcs/python/kungfu/ext.py
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
  tests/python/integration/test_elastic_estimator.py
Due: go format test, python format test, clang format test, clang tidy

don't do evaluation
  experimental/estimator_elastic.py
Due: none

network interference threshold refactor
  experimental/net_monitoring/NetMonHook.py
Due: none

update debug log
  srcs/go/kungfu/kungfu.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test, python format test

more debug log
  srcs/python/kungfu/_utils.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
Due: python format test

stall detector
  srcs/go/kungfu/kungfu.go
  srcs/go/utils/stalldetector.go
Due: go format test

added network congestion activation monitoring
  experimental/net_monitoring/NetMonHook.py
Due: none

debug server
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/flags.go
  srcs/go/kungfurun/handler.go
  srcs/go/kungfurun/watch.go
Due: go format test

added custom optimizer for dynamically changing synchronisation algorithm based on network congestion
  examples/tf1_training_monitoring.py
  experimental/net_monitoring/NetMonHook.py
  experimental/net_monitoring/custom_ada_sgd.py
Due: none

add connectionACK and token
  experimental/estimator_elastic.py
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/watch.go
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/connection_pool.go
  srcs/go/rchannel/message.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/server.go
  srcs/go/utils/stalldetector.go
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
Due: go format test, python format test

fix deadlock (#252)
  experimental/estimator_elastic.py
  srcs/go/cmd/kungfu-run/kungfu-run.go
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/flags.go
  srcs/go/kungfurun/handler.go
  srcs/go/kungfurun/watch.go
  srcs/go/rchannel/connection.go
  srcs/go/rchannel/connection_pool.go
  srcs/go/rchannel/message.go
  srcs/go/rchannel/router.go
  srcs/go/rchannel/server.go
  srcs/go/utils/stalldetector.go
  srcs/python/kungfu/_utils.py
  srcs/python/kungfu/tensorflow/experimental/hook/elastic.py
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test, python format test

cleanup
  srcs/go/kungfu/kungfu.go
  tests/go/cmd/kungfu-peerlist-server/kungfu-peerlist-server.go
Due: go format test

detect full update
  srcs/go/kungfu/kungfu.go
  srcs/go/kungfurun/watch.go
  srcs/go/plan/peerlist.go
  tests/go/cmd/kungfu-peerlist-client/kungfu-peerlist-client.go
Due: go format test

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
