Repository lsds/KungFu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: go format test, python format test, clang format test, clang tidy

go format test:
  stage: lint
  image: alpine:3.9
  before_script:
  - apk update
  - apk add git go
  script:
  - gofmt -w .
  - git diff --exit-code

python format test:
  stage: lint
  image: ubuntu:bionic
  before_script:
  - apt update
  - apt install -y git python3-pip
  - pip3 install -U -r tests/requirements.lint.txt
  script:
  - ./scripts/clean-code.sh --fmt-py
  - git diff --exit-code

clang format test:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt install -y clang-format
  script:
  - clang-format -version
  - ./scripts/clean-code.sh --fmt-cpp
  - git diff --exit-code

clang tidy:
  stage: lint
  image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18
  before_script:
  - apt update
  - apt install -y clang clang-format clang-tidy jq
  script:
  - clang-format -version
  - clang-tidy -version
  - ./scripts/clean-code.sh --check

reimplement NCCL scheduler in C++ (#307)
  .clang-format
  CMakeLists.txt
  srcs/cpp/include/kungfu/cuda/stream.hpp
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/nccl/controller.hpp
  srcs/cpp/include/kungfu/nccl/helper.hpp
  srcs/cpp/include/kungfu/nccl/scheduler.hpp
  srcs/cpp/include/kungfu/python/init.h
  srcs/cpp/include/kungfu/tensorflow/ops.h
  srcs/cpp/include/kungfu/utils/cuda_helper.hpp
  srcs/cpp/src/cuda/stream.cpp
  srcs/cpp/src/nccl/common.cpp
  srcs/cpp/src/nccl/controller.cpp
  srcs/cpp/src/nccl/gpu_collective.cpp
  srcs/cpp/src/nccl/helper.cpp
  srcs/cpp/src/nccl/scheduler.cpp
  srcs/cpp/src/python/init.cpp
  srcs/cpp/src/python/init_nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/go/kungfu/session/strategy.go
  srcs/go/plan/subgraph/subgraph.go
  tests/cpp/integration/collective_nccl_impl.hpp
  tests/cpp/integration/cuda_vector.hpp
Due: go format test, clang format test, clang tidy

remove global variable in Go
  srcs/cpp/include/kungfu/peer.hpp
  srcs/cpp/src/peer.cpp
  srcs/cpp/src/session.cpp
  srcs/go/libkungfu-comm/adapt.go
  srcs/go/libkungfu-comm/collective.go
  srcs/go/libkungfu-comm/main.go
Due: go format test, clang format test, clang tidy

fix
  srcs/cpp/src/peer.cpp
Due: clang format test, clang tidy

reset_nccl_helper
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: python format test, clang format test, clang tidy

fix
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: python format test, clang format test, clang tidy

remove unused import
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: python format test

support NCCL in elastic mode (#308)
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
  srcs/python/kungfu/tensorflow/ops/adapt.py
Due: python format test, clang format test, clang tidy

initial branch commit
  srcs/go/kungfu/session/session.go
  tests/go/cmd/kungfu-cloud-net-bench-allreduce/kungfu-cloud-net-bench-allreduce.go
Due: go format test

init pytorch
  .github/workflows/pytorch.yaml
  examples/torch_simple_example.py
  setup.py
  setup_pytorch.py
  setup_tensorflow.py
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cpu/common.cpp
  srcs/cpp/src/torch/ops/cpu/common.hpp
  srcs/cpp/src/torch/ops/cpu/module.cpp
  srcs/python/kungfu/torch/__init__.py
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/clib.py
  srcs/python/kungfu/torch/ops/collective.py
Due: python format test, clang format test, clang tidy

fix build
  .github/workflows/pytorch.yaml
Due: none

link kungfu libs
  .github/workflows/pytorch.yaml
  examples/torch_simple_example.py
  setup_pytorch.py
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cpu/common.hpp
  srcs/python/kungfu/torch/__init__.py
Due: python format test, clang format test, clang tidy

torch optimizer and benchmark (wip)
  benchmarks/system/benchmark_horovod_torch.py
  benchmarks/system/benchmark_kungfu_torch.py
  srcs/python/kungfu/torch/__init__.py
  srcs/python/kungfu/torch/optimizers/__init__.py
  srcs/python/kungfu/torch/optimizers/sync_sgd.py
Due: python format test

debug
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpu/scheduler.cpp
Due: clang format test, clang tidy

debug
  q
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
Due: clang format test, clang tidy

_debug_show_thread_id
  q
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

no debug
  srcs/cpp/src/nccl/gpu_collective.cpp
Due: clang format test, clang tidy

channel
  srcs/cpp/include/kungfu/utils/channel.hpp
Due: clang format test, clang tidy

init nccl scheduler v2
  CMakeLists.txt
  q
  srcs/cpp/include/kungfu/nccl/common.hpp
  srcs/cpp/include/kungfu/ncclv2/controller.hpp
  srcs/cpp/include/kungfu/ncclv2/helper.hpp
  srcs/cpp/include/kungfu/ncclv2/scheduler.hpp
  srcs/cpp/include/kungfu/tensorflow/gpu_helpers.hpp
  srcs/cpp/src/ncclv2/controller.cpp
  srcs/cpp/src/ncclv2/helper.cpp
  srcs/cpp/src/ncclv2/scheduler.cpp
  srcs/cpp/src/python/init_nccl.cpp
  srcs/cpp/src/tensorflow/ops/gpu/collective.cpp
  srcs/cpp/src/tensorflow/ops/gpuv2/allreduce.cpp
  srcs/cpp/src/tensorflow/ops/gpuv2/scheduler.cpp
  srcs/python/kungfu/tensorflow/ops/__init__.py
  srcs/python/kungfu/tensorflow/ops/nccl.py
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test, clang format test, clang tidy

u
  srcs/cpp/include/kungfu/ncclv2/scheduler.hpp
  srcs/cpp/src/ncclv2/controller.cpp
  srcs/cpp/src/ncclv2/scheduler.cpp
Due: clang format test, clang tidy

u
  srcs/cpp/src/ncclv2/controller.cpp
Due: clang format test, clang tidy

wip
  q
  srcs/cpp/src/tensorflow/ops/gpuv2/allreduce.cpp
  srcs/python/kungfu/tensorflow/ops/nccl.py
  srcs/python/kungfu/tensorflow/v1/benchmarks/__main__.py
Due: python format test, clang format test, clang tidy

disable old nccl
  srcs/cpp/src/python/init_nccl.cpp
Due: clang format test, clang tidy

wip
  q
  srcs/cpp/include/kungfu/ncclv2/controller.hpp
  srcs/cpp/include/kungfu/ncclv2/helper.hpp
  srcs/cpp/include/kungfu/ncclv2/scheduler.hpp
  srcs/cpp/src/ncclv2/controller.cpp
  srcs/cpp/src/ncclv2/helper.cpp
  srcs/cpp/src/ncclv2/scheduler.cpp
Due: clang format test, clang tidy

CrossAllReduceGpu
  srcs/cpp/include/kungfu/ncclv2/helper.hpp
  srcs/cpp/src/ncclv2/helper.cpp
  srcs/cpp/src/tensorflow/ops/gpuv2/allreduce.cpp
Due: clang format test, clang tidy

u
  q
  srcs/cpp/src/ncclv2/helper.cpp
  srcs/cpp/src/ncclv2/scheduler.cpp
Due: clang format test, clang tidy

reorder
  srcs/cpp/include/kungfu/ncclv2/scheduler.hpp
  srcs/cpp/src/ncclv2/helper.cpp
  srcs/cpp/src/ncclv2/scheduler.cpp
Due: clang format test, clang tidy

v2
  q
  srcs/python/kungfu/tensorflow/optimizers/sync_sgd.py
Due: python format test

auto_order_
  q
  srcs/cpp/include/kungfu/ncclv2/scheduler.hpp
  srcs/cpp/src/ncclv2/scheduler.cpp
Due: clang format test, clang tidy

init mnist slp example for pytorch
  .gitignore
  examples/torch_mnist_example.py
Due: none

make torch optimizer work
  examples/torch_mnist_example.py
  examples/torch_simple_example.py
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cpu/common.cpp
  srcs/cpp/src/torch/ops/cpu/common.hpp
  srcs/cpp/src/torch/ops/cpu/module.cpp
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/collective.py
  srcs/python/kungfu/torch/optimizers/sync_sgd.py
Due: python format test, clang format test, clang tidy

move folder
  setup_pytorch.py
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/src/torch/ops/common.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/cpp/src/torch/ops/module.cpp
Due: clang format test, clang tidy

build with cuda
  setup_pytorch.py
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/src/torch/ops/common.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/cpp/src/torch/ops/cuda/helper.cpp
  srcs/cpp/src/torch/ops/module.cpp
  srcs/python/kungfu/torch/ops/clib.py
  srcs/python/kungfu/torch/ops/collective.py
Due: python format test, clang format test, clang tidy

impl all_reduce_cuda
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/cpp/src/torch/ops/cuda/helper.cpp
Due: clang format test, clang tidy

fix build for cpu only
  setup_pytorch.py
  srcs/cpp/src/torch/common.cpp
  srcs/cpp/src/torch/module_cpu.cpp
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/python/kungfu/torch/ops/clib.py
Due: python format test, clang format test, clang tidy

all_reduce_cuda_async
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/include/kungfu/utils/handler_manager.hpp
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/cpp/src/torch/ops/cuda/helper.cpp
Due: clang format test, clang tidy

use async
  srcs/cpp/include/kungfu/utils/handler_manager.hpp
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/clib.py
  srcs/python/kungfu/torch/ops/collective.py
  srcs/python/kungfu/torch/optimizers/sync_sgd.py
Due: python format test, clang format test, clang tidy

wait_all_handles
  srcs/cpp/include/kungfu/torch/common.hpp
  srcs/cpp/include/kungfu/utils/handler_manager.hpp
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/cpp/src/torch/ops/cuda/helper.cpp
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/collective.py
  srcs/python/kungfu/torch/optimizers/sync_sgd.py
Due: python format test, clang format test, clang tidy

#pragma once
  srcs/cpp/include/kungfu/utils/handler_manager.hpp
Due: clang format test, clang tidy

broadcast_parameters
  examples/torch_mnist_example.py
  srcs/cpp/src/torch/module_cuda.cpp
  srcs/cpp/src/torch/ops/cpu/collective.cpp
  srcs/cpp/src/torch/ops/cuda/collective.cpp
  srcs/python/kungfu/torch/__init__.py
  srcs/python/kungfu/torch/ops/__init__.py
  srcs/python/kungfu/torch/ops/clib.py
  srcs/python/kungfu/torch/ops/collective.py
Due: python format test, clang format test, clang tidy

add run command
  examples/torch_mnist_example.py
Due: none

Path conditions:
  go format test: any of: srcs/**/*.go
  python format test: any of: srcs/**/*.py
  clang format test: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
  clang tidy: any of: srcs/**/*.h, srcs/**/*.hpp, srcs/**/*.cpp
